@use 'sass:map';
@use '~@angular/material/core/theming/theming' as mat-theming;
@use '~@angular/material/paginator/paginator-theme' as mat-paginator-theme;

@mixin paginator-color($config-or-theme) {
    $config: mat-theming.get-color-config($config-or-theme);
    $foreground: map.get($config, foreground);
    $background: map.get($config, background);
    $accent: map.get($config, accent);

    .mat-paginator {
        background: mat-theming.color($background, background);
    }

    .mat-paginator,
    .mat-paginator-page-size .mat-select-trigger {
        color: mat-theming.color($foreground, secondary-text);
    }

    .mat-paginator .mat-form-field .mat-form-field-underline,
    .mat-paginator .mat-form-field-appearance-legacy .mat-form-field-underline,
    .mat-paginator .mat-form-field-ripple,
    .mat-paginator .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: mat-theming.color($accent);
    }

    .mat-paginator .mat-select-arrow {
        color: mat-theming.color($accent);
    }

    .mat-paginator-decrement,
    .mat-paginator-increment {
        border-top: 2px solid mat-theming.color($foreground, 'icon');
        border-right: 2px solid mat-theming.color($foreground, 'icon');
    }

    .mat-paginator-first,
    .mat-paginator-last {
        border-top: 2px solid mat-theming.color($foreground, 'icon');
    }

    .mat-icon-button[disabled] {
        .mat-paginator-decrement,
        .mat-paginator-increment,
        .mat-paginator-first,
        .mat-paginator-last {
            border-color: mat-theming.color($foreground, 'disabled');
        }
    }

    .mat-paginator-navigation-previous.mat-icon-button,
    .mat-paginator-navigation-next.mat-icon-button {
        background: mat-theming.color($accent, lighter);
        color: mat-theming.color($foreground, secondary-text);
    }
}

@mixin mat-paginator-typography($config-or-theme) {
    $config: mat-get-typography-config($config-or-theme);
    .mat-paginator,
    .mat-paginator-page-size .mat-select-trigger {
        font: {
            family: mat-font-family($config, caption);
            size: mat-font-size($config, caption);
        }
    }
}

@mixin paginator-theme($theme-or-color-config) {
    $color: mat-theming.get-color-config($theme-or-color-config);
    $density: mat-theming.get-density-config($theme-or-color-config);
    $typography: mat-theming.get-typography-config($theme-or-color-config);

    @if $color != null {
        @include paginator-color($color);
    }
    @if $density != null {
        @include mat-paginator-theme.density($density);
    }
    @if $typography != null {
        @include mat-typography($typography);
    }
}
