@mixin icon-core($typography-config: null) {
    .mat-icon.dewco-mat-icon {
        flex: 1 0 auto;
        width: 20vw;
        margin: auto;
        text-align: center;
        font-size: 3em;
    }
    .mat-icon.mat-tooltip-trigger {
        font-size: 1em;
    }
}
