@use './typography' as typography;
@use 'angular-material-css-vars' as mat-css-vars with (
  $dark-theme-selector: '.isDarkTheme',
  $light-theme-selector: '.isLightTheme'
);

@include mat-css-vars.init-material-css-vars();
@include typography.all-components-typography();
$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

// /* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  .mat-mdc-radio-button {
    background-color: transparent !important;
  }
  .mat-mdc-autocomplete-panel {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ajf-checkbox-group-item {
    .mat-mdc-button {
      background-color: transparent !important;
    }
  }
  .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: mat-css-vars.mat-css-color-primary(50) !important;
  }
  .mdc-linear-progress__bar.mdc-linear-progress__primary-bar {
    background-color: mat-css-vars.mat-css-color-primary(500) !important;
  }

  ::-webkit-scrollbar {
    max-width: 5px !important;
    max-height: 5px !important;
  }

  ::-webkit-scrollbar-track {
    // background: mat-theming.get-color-from-palette($background, background);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: mat-css-vars.mat-css-color-accent(500);
    border-radius: 5px;
    max-width: 20%;
  }

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  // UI TOUR STYLES

  // The first anchor element of the UI Tour
  .centered-tour-element {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 0px;
    width: 0px;
    transform: translate(-140px, -78px);
  }

  // UI Tour card popup styles
  .dino-tour-step-popover {
    .mat-mdc-card {
      .mat-mdc-card-title {
        white-space: unset !important;
      }
    }
    &.dino-tour-step-active-popover {
      .mat-mdc-card {
        background-color: mat-css-vars.mat-css-color-primary(100, 0.8);
        animation: pulse 3s infinite;
      }
    }
  }

  // UI Tour Active anchors
  .touranchor--is-active:not(.dino-tour-interactive-anchor) {
    pointer-events: none !important;
    a,
    a .mdc-list-item__content,
    div,
    button,
    form,
    .mat-mdc-form-field div,
    .mat-mdc-form-field input,
    .mat-mdc-form-field label,
    .mat-icon {
      pointer-events: none !important;
    }
  }

  @keyframes pulse {
    0% {
      background-color: mat-css-vars.mat-css-color-primary(100, 0.8);
    }

    50% {
      background-color: mat-css-vars.mat-css-color-primary(100, 0);
    }

    100% {
      background-color: mat-css-vars.mat-css-color-primary(100, 0.8);
    }
  }
}
