@use '@angular/material';

@use '../../material/core/src/core';
@use '../../material/core/src/dino-theme';

// Define a theme.
// Main
$primary: material.define-palette(material.$light-blue-palette, 700, 500);
$accent: material.define-palette(material.$blue-grey-palette, 700);
$warn: material.define-palette(material.$red-palette, 500);
$alt_accent: material.define-palette(material.$light-blue-palette, 900);

// Alternative
// $primary: material.define-palette(material.$red-palette, 500);
// $alt_accent: material.define-palette(material.$blue-grey-palette, 500, 700);
// $warn: material.define-palette(material.$deep-purple-palette, A200);
// $accent: material.define-palette(material.$red-palette, 500);

$theme: core.light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      alt_accent: $alt_accent,
    ),
  )
);

@include dino-theme.dino-theme($theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}
