@use './typography';
@import 'angular-material-css-vars/main';

$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

// init theme
@include init-material-css-vars() {
  // If your app has any theme mixins, call them here.
  // $mat-css-theme gets set to an appropriate value before this content is called.
  // @include your-custom-component-theme($mat-css-theme);
  @include typography.all-components-typography();
}

// /* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  .mat-mdc-radio-button {
    background-color: transparent !important;
  }
  .mat-mdc-autocomplete-panel {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ajf-checkbox-group-item {
    .mat-mdc-button {
      background-color: transparent !important;
    }
  }
  .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: rgb(var(--palette-primary-50)) !important;
  }
  .mdc-linear-progress__bar.mdc-linear-progress__primary-bar {
    background-color: rgb(var(--palette-primary-500)) !important;
  }

  ::-webkit-scrollbar {
    max-width: 5px !important;
    max-height: 5px !important;
  }

  ::-webkit-scrollbar-track {
    // background: mat-theming.get-color-from-palette($background, background);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--palette-accent-500));
    border-radius: 5px;
    max-width: 20%;
  }

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
