dino-langs-update-dialog {
  pre {
    font-size: 14px;
    margin: auto;
    line-height: 24px;
  }
  mat-form-field {
    width: 100%;
  }
  h1 > button {
    float: right;
  }
  dino-langs-loading {
    position: absolute;
    left: 0;
    right: 0;
  }
  .mat-mdc-dialog-content{
    max-height: 40vh;
  }
  .mat-mdc-dialog-actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .dino-lang-remove-button{
    top: 7px;
    left: 15px;
  }
}
