dino-langs-export-dialog {
  .dino-export-list {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .dino-selected {
    color: white;
    background-color: blue;
  }
  .mat-dialog-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 400px;
  }
  .dino-export-content {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  .dino-export-code {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    overflow-y: scroll;
    max-height: 400px !important;
  }
}
