dino-langs-settings-dialog {
  .dino-add {
    float: right;
  }
  .dino-diff {
    color: green;
  }
  .dino-modified {
    color: red;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-mdc-dialog-content {
    height: 400px;
  }
  .dino-buttons {
    margin: 10px;
  }
  .dino-buttons > button {
    float: right;
  }
}
