app-forms-map-e2e {
  display: flex;
  align-items: flex-start;

  #mapContainer {
    overflow: hidden;
    width: calc(100% - 300px);
    min-width: 300px;
  
    // Leaflet needs the map to have a specified height (not 100%).
    // We compute it in according to the header's height
    height: calc(100vh - 73px);
    @media only screen and (max-width: 599px) {
      height: calc(100vh - 65px);
    }
    min-height: 300px;
  }
  
  .leaflet-popup-content {
    margin: 7px 10px;
  }
  
  #filtersContainer {
    width: 300px;
    padding-left: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
  }

  #applyFilters {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #applyFilters button {
    display: block;
    width: 67%;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
