<dino-list
  #dinoList
  [isAggregationList]="true"
  [headers]="(headers|async)!"
  [baseUrl]="baseUrl"
  [dataSource]="dataSource"
  [bulkActions]="false"
  [additionalBasicFilters]="additionalBasicFilters"
  [emitRowDataOnHover]="true"
  [listRowActions]="listRowActions|async"
  [onClickRowActions]="onClickRowActions"
  (emitRowDataEvt)="emitSchemaId($event)"
>
  <dino-search-filters-bar
    filters
    [presetManager]="false"
    [exportable]="false"
    [additionalFilters]="false"
    [aggregationFilters]="true"
    [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
  >
    <button
      toolbarActions
      mat-stroked-button
      color="primary"
      *ngIf="aggregationFormCreator"
      (click)="openFormCreatorDialog()"
    >
      <mat-icon>add</mat-icon>
      <span>{{'Add New form'|transloco}}</span>
    </button>
  </dino-search-filters-bar>
  <dino-breadcrumbs breadcrumbs></dino-breadcrumbs>
</dino-list>
