<div *ngIf="(loggedIn|async) !== true">
  <div class="dino-logo-container">
    <div class="dino-logo">
      <img [src]="logoImagePath" alt="" />
    </div>
  </div>
  <ng-content select="[dropdownSelect]"></ng-content>
  <div
    class="dino-login-form-container"
    *ngIf="loginFormVisible === undefined || (loginFormVisible|async) === true"
  >
    <ng-container *ngIf="(showSignupForm|async) && signupForm; else showLogin">
      <form [class.dino-error]="loginError" [formGroup]="signupForm">
        <mat-form-field>
          <mat-label>{{'Full Name'|transloco}}</mat-label>
          <input
            matInput
            formControlName="full_name"
            name="full_name"
            type="text"
            aria-label="full_name"
            [placeholder]="'Full Name'|transloco"
          />
          <mat-error> {{showValErrors(signupForm.get('full_name'), 'Full Name')}} </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            name="email"
            type="email"
            aria-label="email"
            [placeholder]="'Email'|transloco"
          />
          <mat-error> {{showValErrors(signupForm.get('email'), 'Email')}} </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            name="password"
            type="password"
            aria-label="password"
            [placeholder]="'Password'|transloco"
          />
          <mat-error> {{showValErrors(signupForm.get('password'), 'Password')}} </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Confirm'|transloco}} password</mat-label>
          <input
            matInput
            formControlName="confirm_password"
            name="confirm_password"
            type="password"
            aria-label="confirm_password"
            [placeholder]="'Confirm Password'|transloco"
          />
          <mat-error>
            {{showValErrors(signupForm.get('confirm_password'), 'Confirm Password')}}
          </mat-error>
        </mat-form-field>

        <div *ngIf="privacyPolicy" class="dino-policy-field">
          <div class="dino-policy-text">{{privacyPolicy}}</div>
          <div class="dino-policy-checkbox-group">
            <div class="dino-policy-checkbox-label">{{'I accept the terms and conditions'|transloco}}</div>
            <div class="dino-policy-checkbox-input">
              <input
                formControlName="policy"
                name="policy"
                type="checkbox"
                aria-label="policy"
                [placeholder]="'Privacy Policy'|transloco"
              />
            </div>
          </div>
        </div>

        <div *ngIf="signupError.error === true" class="dino-error-message">
          {{signupError.message ? (signupError.message|transloco) : 'Invalid email and/or password'|transloco}}
        </div>
        <button
          mat-fab
          type="submit"
          color="accent"
          aria-label="submit"
          (click)="signup()"
          [disabled]="processing || (signupDisabled|async) === true"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <mat-progress-bar
          aria-label="Signup progress"
          [class.dino-show]="processing === true"
          [color]="'accent'"
          mode="indeterminate"
        >
        </mat-progress-bar>
      </form>

      <button mat-button color="primary" (click)="toggleSignupForm(false)">
        {{'Already have an account? Login'|transloco}}
      </button>
    </ng-container>

    <ng-template #showLogin>
      <div *ngIf="(showResetPasswordForm|async) && resetPassForm">
        <form
          class="dino-change-pass-form"
          [class.dino-error]="resetPassForm"
          [formGroup]="resetPassForm"
        >
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              name="email"
              type="email"
              aria-label="Email"
              [placeholder]="'Email'|transloco"
            />
            <mat-error> {{showValErrors(resetPassForm.get('email'), 'Email')}} </mat-error>
          </mat-form-field>

          <div *ngIf="resetPassError.error === true" class="dino-error-message">
            {{resetPassError.message ? (resetPassError.message|transloco) : 'Incorrect email'|transloco}}
          </div>
          <button
            mat-fab
            type="submit"
            color="accent"
            aria-label="submit"
            [disabled]="processing || (resetPassDisabled|async) === true"
            (click)="resetPassword()"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </form>
        <br />
        <button mat-button color="primary" (click)="toggleResetPassForm(false)">
          {{'Actually, I do remember my password'|transloco}}
        </button>
      </div>

      <div *ngIf="(showResetPasswordForm|async) === false || !resetPassForm">
        <form [class.dino-error]="loginError" [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              name="email"
              type="text"
              aria-label="email"
              [placeholder]="'Username / email'|transloco"
            />
            <mat-error> {{showValErrors(loginForm.get('email'), 'Email')}} </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              name="password"
              type="password"
              aria-label="password"
              [placeholder]="'Password'|transloco"
            />
            <mat-error> {{showValErrors(loginForm.get('password'), 'Password')}} </mat-error>
          </mat-form-field>
          <div *ngIf="loginError.error === true" class="dino-error-message">
            {{loginError.message ? (loginError.message|transloco) : 'Incorrect email and/or password'|transloco}}
          </div>
          <button
            mat-fab
            type="submit"
            color="accent"
            aria-label="submit"
            (click)="login()"
            [disabled]="processing || (loginDisabled|async) === true"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <mat-progress-bar
            aria-label="Login progress"
            [class.dino-show]="processing === true"
            [color]="'accent'"
            mode="indeterminate"
          >
          </mat-progress-bar>
        </form>

        <button
          class="dino-login-action-btn"
          *ngIf="signupAvailable"
          mat-button
          color="primary"
          (click)="toggleSignupForm(true)"
        >
          {{'New User? Create new account'|transloco}}
        </button>
        <button
          class="dino-login-action-btn"
          *ngIf="resetPassAvailable"
          mat-button
          color="primary"
          (click)="toggleResetPassForm(true)"
        >
          {{'Forgot your password?'|transloco}}
        </button>
      </div>
    </ng-template>
  </div>
  <ng-content select="[additionalContent]"></ng-content>
</div>
