dino-login {
  display: flex;
  align-items: stretch;

  > div {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1 0 auto;
      max-width: 90vw;
      align-self: center;

      &.dino-logo-container {
        display: flex;
        align-items: center;

        .dino-logo {
          flex: 1 0 auto;
          margin: 3em auto;

          img {
            max-width: 33vw;
            margin: auto;
          }
        }
      }

      &.dino-login-form-container {
        form {
          mat-form-field {
            display: block;
            .mat-form-field-wrapper {
              padding-bottom: 0px;
            }
          }
          input {
            display: block;
            background-color: transparent;
            font-size: 1.1em;
            line-height: 2.5em;
            margin: 0 auto 1.1em;
            border: none;
            text-align: center;

            &:focus {
              outline: 0;
            }
          }

          .dino-error-message {
            display: none;
          }

          &.dino-error {
            .dino-error-message {
              display: block;
              font-size: 1.1em;
              line-height: 2.5em;
              color: rgba(91, 91, 96, 0.87);
            }
          }

          mat-progress-bar {
            margin-top: 1em;
            opacity: 0;

            &.dino-show {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .dino-login-action-btn {
    flex: 1 0 auto;
    margin: auto;
    width: 100%;
  }
  .dino-policy-field {
    .dino-policy-text {
      margin-top: 15px;
      margin-bottom: 15px;
      overflow-y: scroll;
      max-height: 100px;
      max-width: 35vw;
      @media only screen and (max-width: 768px) {
        max-width: 90vw;
      }
      text-align: start;
    }
    .dino-policy-checkbox-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      max-width: 35vw;
      @media only screen and (max-width: 768px) {
        max-width: 90vw;
      }
      .dino-policy-checkbox-label,
      .dino-policy-checkbox-input {
        input {
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
