<div class="start-tour-element" tourAnchor="start-tour"></div>
<dino-edit-report
  *ngIf="favoriteReportId; else emptydashboard"
  [hasOptionalMetrics]="optionalMetrics"
  [setReportId]="favoriteReportId"
  [steps]="false"
  ><dino-breadcrumbs breadcrumbs></dino-breadcrumbs
></dino-edit-report>

<ng-template #emptydashboard>
  <div class="dino-empty-dashboard-message">
    <h1>
      {{'Welcome to DINO'|transloco}}!<br />{{'Please add a Report to your favorites to view it in the dashboard'|transloco}}<br /><mat-icon
        style="font-size: 3em; height: auto; width: auto;"
        >stacked_bar_chart</mat-icon
      >
    </h1>
  </div>
</ng-template>
