<ng-content select="[breadcrumbs]"></ng-content>
<ng-container *ngIf="(form|async)">
  <ng-container *ngIf="metricsService.hasActiveMetrics|async">
    <mat-stepper labelPosition="bottom" #stepper linear>
      <mat-step [completed]="isFormMetricsSelectorValid|async">
        <ng-template matStepLabel>{{ 'FORM METRICS'|transloco }}</ng-template>

        <div class="dino-create-form-step-container">
          <dino-form-metric-selector [hasOptionalMetrics]="hasOptionalMetrics">
            <ng-content metric-selector-message select="[metric-selector-message]"></ng-content>
          </dino-form-metric-selector>
        </div>
      </mat-step>
      <mat-step
        [editable]="(isFormMetricsSelectorValid|async) "
        [completed]="(isAjfFormValid|async) "
      >
        <ng-template matStepLabel>{{ 'FORM DATA'|transloco }}</ng-template>
        <div>
          <button mat-icon-button matStepperPrevious aria-label="Previous step">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="dino-create-form-step-container">
          <ajf-form
            #formContainer
            [form]="(form|async)!"
            [saveDisabled]="(isAjfFormValid|async) === false"
            [topBar]="true"
            (formAction)="onFormAction($event)"
          ></ajf-form>
        </div>
      </mat-step>
    </mat-stepper>
  </ng-container>
  <ng-container *ngIf="(metricsService.hasActiveMetrics|async) === false">
    <div class="dino-create-form-step-container">
      <ajf-form
        #formContainer
        [form]="(form|async)!"
        [saveDisabled]="(isAjfFormValid|async) === false"
        [topBar]="true"
        (formAction)="onFormAction($event)"
      ></ajf-form>
    </div>
  </ng-container>
  <ng-container *ngIf="(isLoading|async) === true">
    <mat-spinner class="dino-component-load-spinner" mode="indeterminate"></mat-spinner>
  </ng-container>
</ng-container>
