<dino-list
  #dinoList
  [headers]="(headers|async)!"
  [baseUrl]="baseUrl"
  [dataSource]="dataSource"
  [additionalBasicFilters]="additionalBasicFilters|async"
  [additionalDataSchema]="additionalDataSchema | async"
  [nodesVisibility]="nodesVisibility|async"
  [listRowActions]="listRowActions|async"
  [bulkActionsAvailable]="bulkActionsAvailable|async"
  [showStatusProgressBar]="showStatusProgressBar"
  [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
  [bulkActions]="bulkActions"
  [onClickRowActions]="onClickRowActions"
  [hasOptionalMetrics]="optionalMetrics"
  (emitRowDataEvt)="emitRowData($event)"
  (emitSelectionChangedEvt)="emitSelectionData($event)"
  (emitActionTrigger)="processActionTrigger($event)"
  (emitExportActionTrigger)="processExportTrigger($event)"
>
  <dino-search-filters-bar
    filters
    [presetManager]="true"
    [exportable]="(displayExportButton|async) ?? false"
    [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
    (exportEvt)="dinoList.export($event, 'forms')"
  >
    <button
      toolbarActions
      mat-stroked-button
      color="primary"
      *ngIf="displayAddButton|async"
      [tourAnchor]="'add-form-floating-button'"
      (click)="addForm()"
    >
      <mat-icon>add</mat-icon>
      <span>{{'Add New form' | transloco}}</span>
    </button>
    <button
      toolbarActions
      mat-stroked-button
      color="primary"
      *ngIf="(displayAddButton|async) && displayImportButton"
      (click)="openImportForms()"
    >
      <mat-icon>cloud_upload</mat-icon>
      <span>{{'Import forms' | transloco}}</span>
    </button>
  </dino-search-filters-bar>
  <dino-breadcrumbs breadcrumbs></dino-breadcrumbs>
</dino-list>
