# Dewco core
/src/core/*                                        @trik
/src/core/data/*                                   @trik

# Dewco material
/src/material/*                                    @trik

# Dewco ionic
/src/ionic/*                                       @trik

# Docs examples & guides
/guides/**                                         @trik
/src/dewco-examples/**                             @trik

# Dev app
/src/dev-app/*                                     @trik
/src/dev-app/auth/**                               @trik
/src/dev-app/data/**                               @trik
/src/dev-app/dev-app/**                            @trik
/src/dev-app/example/**                            @trik
/src/dev-app/examples-page/**                      @trik

# E2E app
/src/e2e-app/*                                     @trik
/src/e2e-app/e2e-app/**                            @trik
/src/e2e-app/example-viewer/**                     @trik

# Universal app material
/src/universal-app-mat/**                          @trik

# Universal app ionic
/src/universal-app-ion/**                          @trik

# Tooling
/.circleci/**                                      @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/*                                                 @trik
/.github/**                                        @trik
/.jenkins/**                                       @trik
/.vscode/**                                        @trik
/src/*                                             @trik
