# Dewco core
/src/core/*                                        @trik
/src/core/data/*                                   @trik

# Dewco material
/src/material/*                                    @trik

# Dewco ionic
/src/ionic/*                                       @trik

# Docs examples & guides
/guides/**                                         @trik
/src/dewco-examples/**                             @trik

# Dev app material
/src/dev-app-mat/*                                 @trik
/src/dev-app-mat/data/**                           @trik
/src/dev-app-mat/dev-app/**                        @trik
/src/dev-app-mat/example/**                        @trik
/src/dev-app-mat/examples-page/**                  @trik

# Dev app ionic
/src/dev-app-ion/*                                 @trik
/src/dev-app-ion/dev-app/**                        @trik
/src/dev-app-ion/example/**                        @trik
/src/dev-app-ion/examples-page/**                  @trik

# E2E app material
/src/e2e-app-mat/*                                 @trik
/src/e2e-app-mat/e2e-app/**                        @trik
/src/e2e-app-mat/example-viewer/**                 @trik

# E2E app ionic
/src/e2e-app-ion/*                                 @trik
/src/e2e-app-ion/e2e-app/**                        @trik
/src/e2e-app-ion/example-viewer/**                 @trik

# Universal app material
/src/universal-app-mat/**                          @trik

# Universal app ionic
/src/universal-app-ion/**                          @trik

# Tooling
/.circleci/**                                      @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/*                                                 @trik
/.github/**                                        @trik
/.jenkins/**                                       @trik
/.vscode/**                                        @trik
/src/*                                             @trik
