<mat-chip-listbox [attr.aria-label]="'Applied filters'|transloco">
  <mat-chip-option *ngFor="let item of chipsFilters|async">
    <span class="dino-chip-field">
      {{ chipLabel(item)|transloco|uppercase|slice:0:30 }}
    </span>

    <ng-container *ngIf="item.isBasicFilter; else advancedValue">
      {{ chipValue(item)|dinoDateValue }}
    </ng-container>

    <ng-template #advancedValue>
      {{ item?.operator?.label ? item?.operator?.label: ' '|transloco}}

      <ng-container *ngIf="!isArrayWithNull(item.value)">
        {{ item.value|dinoDateValue|json }}
      </ng-container>
    </ng-template>

    <mat-icon matChipRemove (click)="removeFilterItem(item)">cancel</mat-icon>
  </mat-chip-option>
</mat-chip-listbox>
