registry=http://registry.npmjs.org
@dewco:registry=http://sinopia.gnucoop.com
@gnucoop:registry=http://sinopia.gnucoop.com
//sinopia.gnucoop.com/:_authToken="KKGJcOQF6+ZDJTsQeQ1xdIyAk4luIR2XqJjvsYiXAQg="
