dino-create-report {
  font-size: 110%;

  .dino-create-report-step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 85vh;
    flex-direction: column;
    @media only screen and (max-width: 992px) {
      min-height: 75vh;
    }
  }

  form {
    .dino-report-name-field,
    .dino-report-date-field {
      margin-right: 10px;
    }
  }

  .mat-stepper-horizontal {
    background-color: transparent !important;
    .mat-horizontal-stepper-content .mat-stepper-previous {
      display: none;
    }
  }
  .mat-horizontal-stepper-header-container {
    border-bottom: 1px solid white;
    .mat-horizontal-stepper-header {
      padding: 8px;
      flex-direction: row;
      &::before,
      &::after {
        visibility: hidden;
      }
      .mat-step-label {
        padding: 0px;
        padding-left: 5px;
      }
    }
    .mat-stepper-horizontal-line {
      visibility: hidden;
    }
  }
  .mat-horizontal-content-container {
    padding: 0px 4px 4px;
    @media only screen and (max-height: 900px) {
      padding-bottom: 10vh;
    }
    @media only screen and (max-height: 580px) {
      padding-bottom: 30vh;
    }
  }
  .ajf-toolbar {
    margin-bottom: 12px;
  }

  .report-help {
    margin-bottom: 50px;
    max-width: 70%;
    @media only screen and (max-width: 768px) {
      margin-top: 30px;
      max-width: 95%;
    }
  }
}
