.dino-filter-widgets-container {
  display: flex;
  padding: 5px;
  overflow: hidden;
  flex-flow: row wrap;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-content {
  overflow: hidden !important;
}

.dino-filters-dialog-menu {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  .mat-mdc-raised-button {
    flex: 0 1 auto;
    margin: 5px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
  .mat-chip-list div.mat-chip-list-wrapper {
    padding: 5px 0;
    background-color: transparent;
  }
}

.mat-mdc-dialog-container {
  overflow-x: hidden;
  transition: all ease-in-out 0.3;
  -webkit-transition: all ease-in-out 0.3s;
  .mat-mdc-dialog-content {
    position: relative;
    max-height: 80vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex: 1 0 auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .mat-mdc-tab-group {
      min-width: 100%;
    }
  }
  @media only screen and (max-width: 992px) {
    padding: 0px;
  }
}
