<div class="dino-form-metric-selector-container">
  <form [formGroup]="formDate" autocomplete="off">
    <mat-form-field class="dino-form-date-selector-field" appearance="fill">
      <mat-label>Creation Date</mat-label>
      <input
        matInput
        [matDatepicker]="pickerDate"
        [formControlName]="'created_at'"
        [placeholder]="'mm/dd/yyyy'"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker [xPosition]="'end'" #pickerDate></mat-datepicker>
    </mat-form-field>
  </form>
  <form [formGroup]="formMetrics" autocomplete="off">
    <ng-container *ngFor="let field of formMetricsFields let idx = index">
      <mat-form-field class="dino-form-metric-selector-field" appearance="fill">
        <input
          matInput
          [formControlName]="field.fieldName"
          [placeholder]="(field.placeholder ?? '')|transloco"
          [matAutocomplete]="auto"
        />
        <mat-icon matSuffix>{{field.icon}}</mat-icon>
        <mat-icon
          matSuffix
          color="primary"
          class="dino-add-metric-button"
          (click)="openCreateMetricDialog($event, field.fieldName)"
          >add</mat-icon
        >

        <mat-autocomplete
          #auto="matAutocomplete"
          [autoActiveFirstOption]="false"
          [displayWith]="displayMetricName"
        >
          <mat-option
            *ngFor="let option of formMetricsOptions[field.fieldName] | async"
            [value]="option"
          >
            {{option.name}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="formMetrics.controls[field.fieldName].hasError('required')">
          {{ 'Please enter a'|transloco}} {{field.fieldName}}
        </mat-error>

        <mat-error *ngIf="formMetrics.controls[field.fieldName].hasError('incorrect')">
          {{ 'Please select a valid'|transloco}} {{field.fieldName}}
        </mat-error>

        <mat-hint>{{field.hint|transloco}}</mat-hint>
      </mat-form-field>
    </ng-container>
  </form>
</div>
