<div
  class="dino-form-metric-selector-container"
  [class.dino-form-metric-selector-dialog-container]="context === 'bulkFormEdit' || context === 'shareUrl' "
>
  <div class="dino-additional-selector-message" *ngIf="context === 'bulkFormEdit'">
    <ng-content select="[bulk-edit-message]"></ng-content>
  </div>
  <div class="dino-additional-selector-message" *ngIf="context === 'shareUrl'">
    <ng-content select="[share-url-message]"></ng-content>
  </div>
  <br /><br />
  <div class="dino-form-metric-selector-message">
    <ng-content select="[metric-selector-message]"></ng-content>
  </div>

  <form [formGroup]="formDate" autocomplete="off" *ngIf="context !== 'shareUrl'">
    <mat-form-field class="dino-form-date-selector-field" appearance="fill">
      <mat-label>{{'Creation Date'|transloco}}</mat-label>
      <input
        matInput
        [matDatepicker]="pickerDate"
        [formControlName]="'created_at'"
        [placeholder]="'mm/dd/yyyy'"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker [xPosition]="'end'" #pickerDate></mat-datepicker>
    </mat-form-field>
  </form>
  <form
    *ngIf="context === 'bulkFormEdit' && availableStatuses && availableStatuses.length;"
    [formGroup]="formStatus"
    autocomplete="off"
  >
    <mat-form-field class="dino-form-status-selector-field">
      <mat-label>{{'Select the Form Status'|transloco}}</mat-label>
      <mat-select #statusSelect [formControlName]="'form_status_ref_id'">
        <mat-option *ngFor="let status of availableStatuses" [value]="status.id">
          <span [ngStyle]="{'color': status.color ?? 'inherit'}"> {{status.label|transloco}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <form [formGroup]="formMetrics" autocomplete="off">
    <ng-container *ngFor="let field of formMetricsFields|async let idx = index">
      <mat-form-field class="dino-form-metric-selector-field" appearance="fill">
        <input
          matInput
          [formControlName]="field.fieldName"
          [placeholder]="(field.placeholder ?? '')|transloco"
          [matAutocomplete]="auto"
        />

        <mat-icon
          *ngIf="(isView|async) !== true && isMetricCreationAllowed(field.fieldName)"
          matSuffix
          color="primary"
          class="dino-add-metric-button"
          (click)="openCreateMetricDialog($event, field.fieldName)"
          >add</mat-icon
        >

        <mat-icon matSuffix>{{field.icon}}</mat-icon>

        <mat-autocomplete
          #auto="matAutocomplete"
          [autoActiveFirstOption]="false"
          [displayWith]="displayMetricName"
        >
          <mat-option
            *ngFor="let option of formMetricsOptions[field.fieldName] | async"
            [value]="{option, secondaryMetricFieldsDisplayed, metricType: field.fieldName}"
            [ngClass]="'dino-option-level-' + (option.level ?? '0')"
          >
            {{displayMetricName({option, secondaryMetricFieldsDisplayed, metricType:
            field.fieldName})}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="formMetrics.controls[field.fieldName].hasError('required')">
          {{ 'Please enter a'|transloco}} {{field.fieldName}}
        </mat-error>

        <mat-error *ngIf="formMetrics.controls[field.fieldName].hasError('incorrect')">
          {{ 'Please select a valid'|transloco}} {{field.fieldName|titlecase|transloco}}
        </mat-error>

        <mat-hint>{{field.hint|transloco}}</mat-hint>
      </mat-form-field>
    </ng-container>
  </form>
  <div class="dino-go-to-formdata-button-container" *ngIf="context === 'form'">
    <button
      mat-raised-button
      color="primary"
      class="dino-go-to-formdata-button"
      (click)="goToFormData()"
    >
      {{((isView|async) !== true) ? ('Fill the Form'|transloco) : ('View the Form'|transloco)}}
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
