dino-edit-public-form {
  font-size: 110%;

  .dino-public-title {
    max-width: 1020px;
    margin: 20px auto;
    font-weight: bold;
  }

  .dino-edit-form-step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 90vh;
    @media only screen and (max-width: 992px) {
      min-height: 80vh;
    }
  }

  .dino-edit-form-success-container {
    max-width: 1020px;
    margin: auto;
    .form-container {
      min-width: 350px;
      border-left: 3px solid;
      border-radius: 5px;
      box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
    .mat-mdc-card-content {
      padding: 30px !important;
      font-weight: bold;
    }
    .mat-mdc-card-actions {
      background-color: rgba($color: #32db64, $alpha: 0.2);
    }
    .dino-success-msg {
      color: #32db64;
      margin-left: auto;
    }
  }

  .ajf-form-container {
    max-width: 1020px;
    margin: auto;

    .ajf-slider-container ajf-page-slider {
      max-height: 87.5%;
      overflow-y: scroll;
      overflow-x: hidden;
      @media only screen and (max-width: 992px) {
        height: 97.5% !important;
        max-height: 97.5%;
      }
    }
    .ajf-slider-container
      .ajf-page-slider-content
      .ajf-page-slider-body
      .ajf-page-slider-item-content,
    .mat-toolbar-single-row {
      padding: 0px;
      height: auto;
    }
    .ajf-page-slider-content {
      overflow-x: hidden;
    }
    .mat-toolbar {
      background: transparent;
      &:not(.ajf-toolbar) {
        .ajf-spacer {
          display: none;
        }
      }

      &.ajf-btn-strip {
        .mat-mdc-button.ajf-topbar-button {
          margin-right: 0px;
          background-color: transparent;
          color: rgba(120, 120, 120, 0.63);
          flex: 1 0 auto;
          transition: all ease-in-out 0.25s;
          -webkit-transition: all ease-in-out 0.25s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
          }
        }
      }
      span {
        flex: 1 1 auto;
        text-align: center;
      }
      &:not(.ajf-btn-strip, .ajf-toolbar) {
        display: flex;
        align-content: center;
        .mat-mdc-button {
          display: none;
        }
      }
    }
    .ajf-field-entry label {
      font-weight: bold;
    }

    .ajf-form-page {
      .mat-mdc-card {
        margin: 0px !important;
        margin-bottom: 10px !important;
        padding: 8px 8px 8px 0;
        max-width: 100%;
        display: flex;
        flex-flow: column wrap;
        .ajf-field-entry {
          display: flex;
          flex-flow: column wrap;
          justify-content: flex-start;
          /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
          label,
          span:not(.mat-ripple, .mat-button-focus-overlay) {
            max-width: 80vw;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          ajf-checkbox-group-item {
            flex: 1 0 auto;
            display: flex;
            flex-flow: row wrap;
          }
          .mat-mdc-radio-button,
          ajf-checkbox-group-item .mat-mdc-button {
            .mat-icon {
              color: inherit;
            }
            padding: 10px;
            flex: 1 0 auto;
            min-height: auto;
            align-items: stretch;
            background-color: #fff;
            border: 1px solid rgba(200, 199, 204, 0.7);
            border-radius: 2px;
            margin-top: 10px;
            margin-right: 10px;
            line-height: 1.6em;
            label {
              font-weight: normal;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
            .mat-radio-ripple {
              display: none;
            }
          }
          .mat-mdc-select {
            width: 25%;
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }
          ajf-field {
            margin-top: 5px;
            margin-bottom: 10px;
            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
            .mat-select-min-line,
            .mat-mdc-select-min-line {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .ajf-left-bar {
    display: none !important;
  }

  .ajf-slider-container {
    .ajf-info-box.ajf-error {
      visibility: hidden;
    }
  }

  .ajf-toolbar {
    margin-bottom: 12px;
  }

  .mat-mdc-card.ajf-field-entry {
    border-left-color: rgb(var(--palette-accent-300)) !important;
    .mat-mdc-card-actions {
      left: 0px;
    }
    .mat-mdc-select-arrow {
      svg {
        height: 32px;
        width: 32px;
      }
    }
    .mat-mdc-select {
      .mat-mdc-select-value {
        position: relative;
        box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
        .mat-mdc-select-min-line {
          white-space: pre-line;
          max-width: 95%;
          overflow: auto;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
