<h1 class="dino-public-title">{{(formSchema|async)?.label|transloco }}</h1>
<ng-container *ngIf="(submitted|async) === false ; else successMsg">
  <div *ngIf="form|async as currentForm" class="dino-edit-form-step-container">
    <ajf-form
      #formContainer
      [form]="(form|async)!"
      [saveDisabled]="(isValid|async) === false"
      [topBar]="true"
      [maxColumns]="maxColumns"
      [centeredFieldsContent]="centeredFieldsContent"
      (formAction)="onFormAction($event)"
    ></ajf-form>
  </div>

  <dino-floating-button
    buttonIcon="send"
    [tooltipMessage]="'Save form'|transloco"
    [buttonDisabled]="(isValid|async) === false"
    (click)="saveForm()"
  ></dino-floating-button>
</ng-container>

<ng-template #successMsg>
  <div class="dino-edit-form-success-container">
    <mat-card appearance="outlined" class="form-container">
      <mat-card-content>
        <h2>{{ 'The form has been successfully submitted.'|transloco }}</h2>
      </mat-card-content>
      <mat-card-actions>
        <mat-icon class="dino-success-msg">check</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>