<dino-list
  [headers]="headers"
  [baseUrl]="baseUrl"
  [instanceName]="instName"
  [dataSource]="dataSource"
  [additionalBasicFilters]="additionalBasicFilters"
  [additionalDataSchema]="additionalDataSchema|async"
  [listRowActions]="listRowActions|async"
  [onClickRowActions]="onClickRowActions"
  (emitRowDataEvt)="emitRowId($event)"
>
  <dino-search-filters-bar
    filters
    [presetManager]="true"
    [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
  >
    <button
      toolbarActions
      mat-stroked-button
      color="primary"
      *ngIf="displayAddButton|async"
      [matTooltip]="(tooltipMessage|async)!"
      [tourAnchor]="'add-report-floating-button'"
      (click)="addReport()"
    >
      <mat-icon>add</mat-icon>
      <span>{{tooltipMessage|async}}</span>
      <span class="dino-report-cost" *ngIf="reportCost|async as cost">
        <mat-icon>smart_toy</mat-icon>
        <span>{{cost}}</span>
      </span>
    </button>
  </dino-search-filters-bar>
  <dino-breadcrumbs breadcrumbs></dino-breadcrumbs>
</dino-list>
