@use 'angular-material-css-vars' as mat-css-vars;

.mat-fab-bottom-right {
  position: fixed !important;
  right: 2vw;
  bottom: 22.5vh;
  z-index: 10;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition: all ease-in-out 0.5;
    -webkit-transition: all ease-in-out 0.5s;
  }
  .floating-handle {
    position: absolute;
    bottom: -4px;
    right: -4px;
    cursor: move;
    width: 20px;
    height: 20px;
    .mat-mdc-button-touch-target {
      width: 20px;
      height: 20px;
    }
    .mat-icon {
      font-size: 16px;
      position: relative;
      top: 4px;
    }
  }
  .dino-floating-button-cost-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .dino-tokens-counter-amount {
      color: var(--mat-badge-text-color);
      background: mat-css-vars.mat-css-color-primary(500);
      border-radius: 50%;
      width: 22px;
      height: 22px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    .mat-icon {
      margin-right: 5px;
    }
  }
}

dino-floating-button + dino-floating-button {
  .mat-fab-bottom-right {
    bottom: 12vh;
  }
}
