<ng-content select="[breadcrumbs]"></ng-content>
<ng-container *ngIf="(form|async)">
  <ng-container *ngIf="metricsService.hasActiveMetrics|async">
    <mat-stepper labelPosition="bottom" #stepper linear>
      <mat-step [completed]="(isFormMetricsSelectorValid|async) || (isView|async)">
        <ng-template matStepLabel>{{ 'FORM METRICS'|transloco }}</ng-template>
        <div class="dino-edit-form-step-container">
          <dino-form-metric-selector
            [hasOptionalMetrics]="hasOptionalMetrics"
            [allowMetricCreationFor]="allowMetricCreationFor"
            [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
            (goToFormDataEvt)="goToFormDataStep(stepper)"
          >
            <ng-content metric-selector-message select="[metric-selector-message]"></ng-content>
          </dino-form-metric-selector>
        </div>
      </mat-step>
      <mat-step
        [editable]="(isFormMetricsSelectorValid|async) || (isView|async)"
        [completed]="(isFormMetricsSelectorValid|async) || (isView|async)"
      >
        <ng-template matStepLabel>{{ 'FORM DATA'|transloco }}</ng-template>
        <div>
          <button mat-icon-button matStepperPrevious aria-label="Previous step">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <dino-pipeline-stepper
          *ngIf="(formSchemaStatuses|async)?.length"
          [setStatuses]="formSchemaStatuses|async"
          [ajfFormRenderer]="formRenderer"
          [slides]="slides|async"
          [setCurrentFormStatus]="formDataStatus|async"
          [setIsPipeline]="isPipeline|async"
          (position)="scrollToSlide($event)"
        ></dino-pipeline-stepper>
        <div class="dino-edit-form-step-container">
          <ajf-form
            #ajfFormRenderer
            [form]="(form|async)!"
            [saveDisabled]="((isView|async) === true) || ((isSaveDisabled|async) === true)"
            [topBar]="(isPipeline|async) === false"
            (formAction)="onFormAction($event)"
            [readonly]="isView|async"
            [maxColumns]="(breakpointObserver.extrasmall|async) === true ? 1 : maxColumns"
            [centeredFieldsContent]="centeredFieldsContent"
          ></ajf-form>
        </div>
      </mat-step>
    </mat-stepper>
  </ng-container>
  <ng-container *ngIf="(metricsService.hasActiveMetrics|async) === false">
    <dino-pipeline-stepper
      *ngIf="(formSchemaStatuses|async)?.length"
      [setStatuses]="formSchemaStatuses|async"
      [ajfFormRenderer]="formRenderer"
      [slides]="slides|async"
      [setCurrentFormStatus]="formDataStatus|async"
      [setIsPipeline]="isPipeline|async"
      (position)="scrollToSlide($event)"
    ></dino-pipeline-stepper>
    <div class="dino-edit-form-step-container">
      <ajf-form
        #ajfFormRenderer
        [form]="(form|async)!"
        [saveDisabled]="((isView|async) === true) || ((isSaveDisabled|async) === true)"
        [topBar]="(isPipeline|async) === false"
        (formAction)="onFormAction($event)"
        [readonly]="isView|async"
        [maxColumns]="(breakpointObserver.extrasmall|async) === true ? 1 : maxColumns"
        [centeredFieldsContent]="centeredFieldsContent"
      ></ajf-form>
    </div>
  </ng-container>
  <ng-container *ngIf="(isLoading|async) === true">
    <mat-spinner class="dino-component-load-spinner" mode="indeterminate"></mat-spinner>
  </ng-container>

  <dino-floating-button
    *ngIf="(isView|async) !== true"
    buttonIcon="save"
    [tooltipMessage]="'Save form'|transloco"
    [buttonDisabled]="(isSaveDisabled|async) === true"
    (click)="saveForm()"
  ></dino-floating-button>

  <dino-floating-button
    *ngIf="(isView|async) !== true && allowSaveDraft"
    buttonIcon="save_as"
    [tooltipMessage]="'Save draft'|transloco"
    [buttonDisabled]="((isAjfFormValid|async) === true) || ((uniqueMetricsSetAlreadyExists|async) === true) || ((isLoading|async) === true)"
    (click)="saveDraft()"
  ></dino-floating-button>
</ng-container>
