@use '@angular/material';

// Dino default typography

$base-typography: material.define-typography-config(
    $font-family: "'Roboto', monospace",
    $headline-5: material.define-typography-level(32px, 48px, 700),
    $headline-6: material.define-typography-level(16px, 24px, 700),
    $body-1: material.define-typography-level(13px, 22px, 400),
    $body-2: material.define-typography-level(13px, 22px, 500),
    $subtitle-1: material.define-typography-level(14px, 22px, 700),
);
