@use '@angular/material' as typography-utils;
@use '../../typography/typography';

@mixin grid-core($typography-config: null) {
    .mat-grid-tile.dino-grid-tile {
        div.dino-grid-label {
            font-size: typography-utils.font-size(typography.$base-typography, subtitle-1);
            font-family: typography-utils.font-family(typography.$base-typography, subtitle-1);
            font-weight: typography-utils.font-weight(typography.$base-typography, subtitle-1);
        }
    }
}
