<div mat-dialog-title>{{ 'Export'|transloco }}</div>
<div mat-dialog-content>
  <mat-list class="dino-export-list" role="list">
    <mat-list-item *ngFor="let lang of (langs|async)" role="listitem">
      <button mat-button
        [class.dino-selected]="(currentLang$|async)?.name === lang.name"
        (click)="currentLang(lang)">
          {{lang.name}}
      </button>
    </mat-list-item>
  </mat-list>
  <div class="dino-export-content" *ngIf="currentLang$|async as currentLang">
    <div class="dino-export-code">
        <pre>{{currentLang?.schema|json}}</pre>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <ng-container *ngIf="(currentLang$|async) as currentLang">
    <button mat-button (click)="download(currentLang)">{{ 'Download'|transloco }}</button>
  </ng-container>
</div>
