<div class="dino-map-toolbar">
  <dino-breadcrumbs></dino-breadcrumbs>
  <div class="dino-map-count">
    <mat-icon color="primary">place</mat-icon>
    <span>
      <b>{{pinCount}}</b> {{'pin'|transloco}} ·
      <b>{{dataSource.dataResultsCount|async}}</b> {{'Items found'|transloco}}
    </span>
  </div>
</div>
<dino-search-filters-bar
  [presetManager]="true"
  [exportable]="true"
  [aggregationFilters]="false"
  [secondaryMetricFieldsDisplayed]="secondaryMetricFieldsDisplayed"
  (exportEvt)="export($event)"
></dino-search-filters-bar>
<div id="mapContainer"></div>
