dino-metric-editor {
    .dino-metric-editor-field {
        padding: 25px;
        font-size: 1.2em;
    }

    overflow: hidden;
    .mat-dialog-title,
    .mat-dialog-actions .mat-raised-button {
        flex: 0.25 0 auto;
        margin: auto;
        text-align: center;
    }
    .mat-dialog-content {
        form {
            position: relative;
            max-height: 80vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            overflow: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
