<mat-sidenav-container class="demo-container">
  <mat-sidenav #start role="navigation">
    <mat-expansion-panel *ngFor="let navGroup of navGroups" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ navGroup.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a *ngFor="let navItem of navGroup.children"
          mat-list-item
          (click)="start.close()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
          [routerLink]="[navItem.route]">
          {{navItem.name}}
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <button mat-button tabindex="-1" (click)="start.close()">CLOSE</button>
  </mat-sidenav>
  <!--
    Note that the setup with the directionality and density is a little convoluted, but it's
    organized this way so that we can test MDC's density styles in both LTR and RTL. Their mixins
    output styles in the form of `[dir='rtl'] .density-min .foo` which means that the `dir` has to
    be one level above the density class in the DOM. At the same time, we want the density to apply
    to the toolbar while always keeping it in LTR at the same time.
   -->
  <main class="demo-main">
    <!-- The toolbar should always be in the LTR direction -->
    <mat-toolbar color="primary" dir="ltr">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Dino Demos</h1>
        <div>
          <button mat-icon-button (click)="toggleDarkMode()" title="Toggle dark mode">
            <mat-icon *ngIf="dark === true">light_mode</mat-icon>
            <mat-icon *ngIf="dark === false">dark_mode</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button mat-button (click)="dir.value = (dir.value === 'rtl' ? 'ltr' : 'rtl')"
                  title="Toggle between RTL and LTR">
            {{dir.value.toUpperCase()}}
          </button>
        </div>
      </div>
    </mat-toolbar>

    <div [attr.dir]="dir.value" class="demo-content mat-app-background">
      <ng-content></ng-content>
    </div>
  </main>
</mat-sidenav-container>
