@use 'sass:map';
@use '@angular/material' as mat-theming;

@use 'theming/palette';

// Creates a light-themed color configuration from the specified
// primary, accent and warn palettes.
@function _light-color-config($primary, $accent, $warn: null, $alt_accent: null) {
    @return (
        primary: $primary,
        accent: $accent,
        warn: if($warn != null, $warn, mat-theming.mat-palette(mat-theming.$mat-red)),
        alt_accent: if($alt_accent != null, $alt_accent, $accent),
        is-dark: false,
        foreground: palette.$light-theme-foreground,
        background: palette.$light-theme-background
    );
}

// Creates a light-themed color configuration from the specified
// primary, accent and warn palettes.
@function _dark-color-config($primary, $accent, $warn: null, $alt_accent: null) {
    @return (
        primary: $primary,
        accent: $accent,
        warn: if($warn != null, $warn, mat-theming.mat-palette(mat-theming.$mat-red)),
        alt_accent: if($alt_accent != null, $alt_accent, $accent),
        is-dark: true,
        foreground: palette.$dark-theme-foreground,
        background: palette.$dark-theme-background
    );
}

@function light-theme($config) {
    $result: $config;
    @if map.get($config, color) {
        $color-settings: map.get($config, color);
        $primary: map.get($color-settings, primary);
        $accent: map.get($color-settings, accent);
        $warn: map.get($color-settings, warn);
        $alt_accent: map.get($color-settings, alt_accent);
        $result: map.merge(
            $result,
            (
                color: _light-color-config($primary, $accent, $warn, $alt_accent),
            )
        );
    }
    @return $result;
}

@function dark-theme($config) {
    $result: $config;
    @if map.get($config, color) {
        $color-settings: map.get($config, color);
        $primary: map.get($color-settings, primary);
        $accent: map.get($color-settings, accent);
        $warn: map.get($color-settings, warn);
        $alt_accent: map.get($color-settings, alt_accent);
        $result: map.merge(
            $result,
            (
                color: _dark-color-config($primary, $accent, $warn, $alt_accent),
            )
        );
    }
    @return $result;
}
