@use 'angular-material-css-vars/src/lib/variables';
@use 'angular-material-css-vars/src/lib/public-util' as pu;

// used to circumvent node sass issue: https://github.com/sass/node-sass/issues/2251
@function _mat-css-rgb($r, $g: null, $b: null ) {
  @if ($g == null) {
    @return unquote('#{$r}');
  }

  @if ($g and $b) {
    @return unquote('#{$r}, #{$g}, #{$b}');
  }

  @error 'wrong number of arguments';
}

// used to circumvent node sass issue: https://github.com/sass/node-sass/issues/2251
@function _mat-css-rgba($r, $g, $b: null, $a: null ) {
  @if ($b == null) {
    @return unquote('#{$r}, #{$g}');
  }

  @if ($b and $a) {
    @return unquote('#{$r}, #{$g}, #{$b}, #{$a}');
  }

  @error 'wrong number of arguments';
}

@function _mat-css-str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      _mat-css-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function _mat-css-hex-to-rgb($color) {
  @if ($color == null) {
    @return null;
  }
  @return red($color), green($color), blue($color);
}

@function _mat-css-hex-to-rgba($color) {
  @if ($color == null) {
    @return null;
  }
  @return red($color), green($color), blue($color), alpha($color);
}

@mixin _mat-css-root($varMap: null) {
  @at-root :root {
    @each $varName, $varValue in $varMap {
      @if (type_of($varValue)==string) {
        #{$varName}: $varValue; // to prevent quotes interpolation
      }
      @else {
        #{$varName}: #{$varValue};
      }
    }
  }
}

@function _mat-css-strip-variable($color) {
  $var: $color;
  @if (str-index($var, 'rgba(')) {
    $var: _mat-css-str-replace($var, 'rgba(', '');
  }
  @if (str-index($var, 'rgb(')) {
    $var: _mat-css-str-replace($var, 'rgb(', '');
  }
  @if (str-index($var, 'var(')) {
    $var: _mat-css-str-replace($var, ')', ''); // remove excess ")"
    $var: $var + ')';
  }
  @return $var;
}

// main overwrite to make it all work
@function get-color-from-palette($palette, $hue: default, $opacity: null) {

  @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
    @return get-color-from-palette($palette, default, $hue);
  }

  $color: map-get($palette, $hue);

  @if type-of($color) == color {
    $alpha: if($opacity == null, alpha($color), if($opacity != 1, $opacity, alpha($color)));
    @return rgba(red($color), green($color), blue($color), $alpha);
  }

  // at this point we have a variable
  // strip out color functions so we can return proper rgba value
  $color: _mat-css-strip-variable($color);

  // contrast color variables are defined as rgba
  @if (str-index($color, '-contrast-')) {
    @return rgba($color);
  }

  // non contrast variables are defined as rgb, so add alpha
  @return rgba($color, if($opacity == null, 1, $opacity));
}

// apply additional overwrites
@mixin mat-css-other-overwrites {
  @include _mat-date-picker-content-overwrites();
  @include _mat-checkbox-overwrites();
  @include _mat-slide-toggle-color-overwrites();
}

// Fix issue with date picker contrast and hover colors
// Account for primary, accent, and warn palettes.
@mixin _mat-date-picker-content-overwrites {
  .mat-datepicker-content {
    $accent: variables.$mat-css-palette-accent;
    $primary: variables.$mat-css-palette-primary;
    $warn: variables.$mat-css-palette-warn;
    @include _mat-date-picker-color-overwrites($primary, 500);

    &.mat-accent {
      @include _mat-date-picker-color-overwrites($accent, 500);
    }

    &.mat-warn {
      @include _mat-date-picker-color-overwrites($warn, 500);
    }
  }
}

@mixin _mat-date-picker-color-overwrites($palette, $hue) {
  .mat-calendar-body-in-range::before {
    background: get-color-from-palette($palette, $hue, 0.2);
    @include pu.mat-css-dark-theme-global() {
      background: get-color-from-palette($palette, $hue, 0.2);
    }
  }
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover,
  .cdk-keyboard-focused .mat-calendar-body-active,
  .cdk-program-focused .mat-calendar-body-active {
    & > .mat-calendar-body-cell-content {
      &:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        background-color: get-color-from-palette($palette, $hue, 0.3);
        @include pu.mat-css-dark-theme-global() {
          background-color: get-color-from-palette($palette, $hue, 0.3);
        }
      }
    }
  }
}

// Fix a problem where the foreground color for the checkmark doesn't reflect
// the correct contrast color.
@mixin _mat-checkbox-overwrites {

  // -- Primary Color
  .mat-mdc-checkbox.mat-primary,
  .mat-checkbox.mat-primary {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-checkmark .mat-checkbox-checkmark-path {
      stroke: mat-css-contrast-color-primary(500) !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-mixedmark {
      background-color: mat-css-contrast-color-primary(500) !important;
    }
  }
  // -- Accent Color
  .mat-mdc-checkbox.mat-accent,
  .mat-checkbox.mat-accent {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-checkmark .mat-checkbox-checkmark-path {
      stroke: mat-css-contrast-color-accent(500) !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-mixedmark {
      background-color: mat-css-contrast-color-accent(500) !important;
    }
  }
  // -- Warning Color
  .mat-mdc-checkbox.mat-warn,
  .mat-checkbox.mat-warn {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-checkmark .mat-checkbox-checkmark-path {
      stroke: mat-css-contrast-color-warn(500) !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-mixedmark {
      background-color: mat-css-contrast-color-warn(500) !important;
    }
  }
}

// Since we cannot override angulars namespace,
// target the style and overwrite it with the proper attributes.
@mixin _mat-slide-toggle-color-overwrites() {
  $thumb-checked-hue: 500;
  $accent: variables.$mat-css-palette-accent;
  $primary: variables.$mat-css-palette-primary;
  $warn: variables.$mat-css-palette-warn;
  .mat-mdc-slide-toggle {
    @include _mat-slide-toggle-checked-color-theme($accent, $thumb-checked-hue);

    &.mat-primary {
      @include _mat-slide-toggle-checked-color-theme($primary, $thumb-checked-hue);
    }

    &.mat-warn {
      @include _mat-slide-toggle-checked-color-theme($warn, $thumb-checked-hue);
    }
  }
}

@mixin _mat-slide-toggle-checked-color-theme($palette, $thumb-checked-hue) {

  @include pu.mat-css-dark-theme-global() {
    @include _mat-slide-toggle-checked-color($palette, $thumb-checked-hue);
  }

  @include pu.mat-css-light-theme-global() {
    @include _mat-slide-toggle-checked-color($palette, $thumb-checked-hue);
  }

}

@mixin _mat-slide-toggle-checked-color($palette, $thumb-checked-hue) {
  &.mat-checked {
    /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
    .mat-slide-toggle-thumb {
      background-color: get-color-from-palette($palette, $thumb-checked-hue);
    }
    /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
    .mat-slide-toggle-bar {
      background-color: get-color-from-palette($palette, $thumb-checked-hue, 0.54);
    }

    .mat-ripple-element {
      background-color: get-color-from-palette($palette, $thumb-checked-hue);
    }
  }
}
