<div>
  <div class="dino-logo-container">
    <div class="dino-logo">
      <img [src]="logoImagePath" alt="" />
    </div>
  </div>
  <ng-container *ngIf="(invalidTicket|async) === false; else invalidTicketTemplate;">
    <ng-container *ngIf="(passChanged|async) === false ; else passChangedTemplate;">
      <div class="dino-login-form-container">
        <form
          class="dino-change-pass-form"
          [class.dino-error]="changePassForm"
          [formGroup]="changePassForm"
        >
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="password"
              name="password"
              type="password"
              aria-label="New Password"
              [placeholder]="'New Password'|transloco"
            />
            <mat-error>
              {{showValErrors(changePassForm.get('password'), 'New Password')}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input
              matInput
              formControlName="confirm_password"
              name="confirm_password"
              type="password"
              aria-label="Confirm New Password"
              [placeholder]="'Confirm New Password'|transloco"
            />
            <mat-error>
              {{showValErrors(changePassForm.get('confirm_password'), 'Confirm New Password')}}
            </mat-error>
          </mat-form-field>
          <div *ngIf="changePassError.error === true" class="dino-error-message">
            {{changePassError.message ? (changePassError.message|transloco) : 'Incorrect password'|transloco}}
          </div>
          <button
            class="dino-reset-action-btn"
            mat-fab
            type="submit"
            color="accent"
            aria-label="submit"
            [disabled]="processing || (changePassDisabled|async) === true"
            (click)="changePassword()"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </form>
        <br />
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #invalidTicketTemplate>
  <h1>
    <mat-icon>sentiment_very_dissatisfied</mat-icon><br>
    {{'Your Reset Password ticket is invalid or expired. Please try again.'|transloco}}
  </h1></ng-template
>
<ng-template #passChangedTemplate>
  <h1><mat-icon>done</mat-icon><br />{{'Password changed'|transloco}}!</h1></ng-template
>
