@use 'sass:map';
@use '~@angular/material/core/theming/theming' as mat-theming;
@use '~@angular/material/core/style/private' as mat-private;

@mixin select-color($config-or-theme) {
    $config: mat-theming.get-color-config($config-or-theme);
    $foreground: map.get($config, foreground);
    $background: map.get($config, background);
    $primary: map.get($config, primary);
    $accent: map.get($config, accent);
    $warn: map.get($config, warn);

    .mat-select-value {
        color: mat-theming.color($foreground, text);
    }

    .mat-select-disabled .mat-select-value {
        color: mat-theming.color($foreground, disabled-text);
    }

    .mat-select-arrow {
        color: mat-theming.color($primary);
    }

    .mat-select-panel {
        background: mat-theming.color($background, card);
        @include mat-private.private-theme-overridable-elevation(4, $config);

        .mat-option.mat-selected:not(.mat-option-multiple) {
            background: mat-theming.color($background, hover, 0.12);
        }
        .mat-option.mat-option-multiple.mat-selected {
            color: mat-theming.color($accent);
        }
        .mat-pseudo-checkbox.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
            background-color: mat-theming.color($accent);
        }
    }

    .dewco-default-option .mat-option-text span {
        color: mat-theming.color($primary);
    }

    .mat-form-field {
        &.mat-focused {
            &.mat-primary .mat-select-arrow {
                color: mat-theming.color($primary, text);
            }

            &.mat-accent .mat-select-arrow {
                color: mat-theming.color($accent, text);
            }

            &.mat-warn .mat-select-arrow {
                color: mat-theming.color($warn, text);
            }
        }

        .mat-select.mat-select-invalid .mat-select-arrow {
            color: mat-theming.color($warn, text);
        }

        .mat-select.mat-select-disabled .mat-select-arrow {
            color: mat-theming.color($foreground, disabled-text);
        }
    }
}

@mixin mat-select-typography($config-or-theme) {
    $config: mat-get-typography-config($config-or-theme);
    // The unit-less line-height from the font config.
    $line-height: mat-line-height($config, input);

    .mat-select {
        font-family: mat-font-family($config);
    }

    .mat-select-trigger {
        height: $line-height * 1em;
    }

    .mat-select-panel .mat-option.dewco-default-option {
        font-weight: mat-font-weight($config, title);
    }
}

@mixin _mat-select-density($config-or-theme) {
}

@mixin select-theme($theme-or-color-config) {
    $color: mat-theming.get-color-config($theme-or-color-config);
    $density: mat-theming.get-density-config($theme-or-color-config);
    $typography: mat-theming.get-typography-config($theme-or-color-config);

    @if $color != null {
        @include select-color($color);
    }
    @if $density != null {
        @include _mat-select-density($density);
    }
    @if $typography != null {
        @include mat-select-typography($typography);
    }
}
