@use 'sass:map';
@use '@angular/material' as mat-theming;

@mixin icon-color($config-or-theme) {
    $config: mat-theming.m2-get-color-config($config-or-theme);
    $background: map.get($config, background);
    $foreground: map.get($config, foreground);
    $primary: map.get($config, primary);
    $accent: map.get($config, accent);

    @include mat-theming.icon-color($config-or-theme);

    .mat-icon.dino-mat-icon {
        color: rgb(var(--palette-primary-500));
        overflow: visible;
        &:hover {
            color: rgb(var(--palette-accent-500));
        }
    }
}

@mixin mat-icon-typography($config-or-theme) {
    $config: mat-get-typography-config($config-or-theme);
    @include mat-theming.icon-typography($config-or-theme);
}

@mixin _mat-icon-density($config-or-theme) {
}

@mixin icon-theme($theme-or-color-config) {
    $color: mat-theming.m2-get-color-config($theme-or-color-config);
    $density: mat-theming.m2-get-density-config($theme-or-color-config);
    $typography: mat-theming.m2-get-typography-config($theme-or-color-config);

    @if $color != null {
        @include icon-color($color);
    }
    @if $density != null {
        @include _mat-icon-density($density);
    }
    @if $typography != null {
        @include mat-icon-typography($typography);
    }
}
