.dewco-preset-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .dewco-preset-manager-field {
        flex: 1 1 auto;
        form {
            display: flex;
            .mat-form-field {
                flex: 1 1 auto;
            }
        }
    }
    .dewco-preset-manager-buttons {
        display: flex;
        flex: 1 1 auto;
        .mat-stroked-button {
            flex: 1 1 auto;
            margin: 5px;
        }
    }
}
