@use '@angular/material' as typography-utils;
@use '../../typography/typography';

@mixin sidenav-core($typography-config: null) {
  .mat-drawer-side {
    border-right: none !important;
  }
  .mat-drawer-side.mat-sidenav {
    font-family: typography-utils.m2-font-family(typography.$base-typography, body-1);
    font-size: typography-utils.m2-font-size(typography.$base-typography, body-1);
    font-weight: typography-utils.m2-font-weight(typography.$base-typography, body-1);
    border-right: none;
    .mat-nav-list,
    .mat-mdc-list-base {
      overflow: hidden;
    }
    .mat-mdc-list-item {
      padding: 6px;
    }
  }
  .mat-drawer-container.mat-sidenav-container {
    font-family: typography-utils.m2-font-family(typography.$base-typography, body-1);
    font-size: typography-utils.m2-font-size(typography.$base-typography, body-1);
    font-weight: typography-utils.m2-font-weight(typography.$base-typography, body-1);
  }
}
