<ng-container *ngIf="userData|async as userInfo">
  <div class="dino-user-area-header">
    <h1 class="dino-user-area-title" mat-dialog-title>User Area - {{userInfo.full_name}}</h1>

    <div class="dino-user-area-dark-mode-toggle" *ngIf="(breakpointObserver.small|async) === true">
      <mat-icon aria-hidden="false" aria-label="Light mode" style="opacity: 0.5">wb_sunny</mat-icon>
      <mat-slide-toggle
        [checked]="themeService.isDark()"
        (change)="setDarkTheme($event.checked)"
        style="margin: 10px"
        aria-label="Toggle Dino Theme"
      >
      </mat-slide-toggle>
      <mat-icon aria-hidden="false" aria-label="Dark mode" style="opacity: 0.5;"
        >nights_stay</mat-icon
      >
    </div>
  </div>

  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Change Password </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          class="dino-user-area-form"
          [class.dino-error]="changePassForm"
          [formGroup]="changePassForm"
        >
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input
              matInput
              formControlName="current_password"
              name="current_password"
              type="password"
              aria-label="Current Password"
              [placeholder]="'Current Password'|transloco"
            />
            <mat-error>
              {{showValErrors(changePassForm.get('current_password'), 'Current Password')}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="password"
              name="password"
              type="password"
              aria-label="New Password"
              [placeholder]="'New Password'|transloco"
            />
            <mat-error>
              {{showValErrors(changePassForm.get('password'), 'New Password')}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input
              matInput
              formControlName="confirm_password"
              name="confirm_password"
              type="password"
              aria-label="Confirm New Password"
              [placeholder]="'Confirm New Password'|transloco"
            />
            <mat-error>
              {{showValErrors(changePassForm.get('confirm_password'), 'Confirm New Password')}}
            </mat-error>
          </mat-form-field>
          <div *ngIf="changePassError.error === true" class="dino-error-message">
            {{changePassError.message ? (changePassError.message|transloco) : 'Incorrect
            password'|transloco}}
          </div>
          <button
            mat-fab
            type="submit"
            color="accent"
            aria-label="submit"
            [disabled]="processing || (changePassDisabled|async) === true"
            (click)="changePassword()"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> DINO Theme </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dino-save-theme">
          <form
            class="dino-user-area-form"
            [class.dino-error]="changePassForm"
            [formGroup]="dinoSaveThemeForm"
          >
            <mat-form-field appearance="fill" [style.color]="primaryColor">
              <input
                matInput
                readonly
                [colorPicker]="themeService.currentThemeVal ? themeService.currentThemeVal.primary : primaryColor"
                (colorPickerChange)="setPrimaryColor($event)"
                [formControlName]="'primary'"
                [placeholder]="'Primary Color'|transloco"
                [value]="primaryColor"
              />
              <mat-icon matSuffix>palette</mat-icon>
              <mat-hint>{{'Primary color' | transloco}}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" [style.color]="accentColor">
              <input
                matInput
                readonly
                [colorPicker]="themeService.currentThemeVal ? themeService.currentThemeVal.accent : accentColor"
                (colorPickerChange)="setAccentColor($event)"
                [formControlName]="'accent'"
                [placeholder]="'Accent Color'|transloco"
                [value]="accentColor"
              />
              <mat-icon matSuffix>palette</mat-icon>
              <mat-hint>{{'Accent color' | transloco}}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" [style.color]="warningColor">
              <input
                matInput
                readonly
                [colorPicker]="themeService.currentThemeVal ? themeService.currentThemeVal.warning : warningColor"
                (colorPickerChange)="setWarningColor($event)"
                [formControlName]="'warning'"
                [placeholder]="'Warning Color'|transloco"
                [value]="warningColor"
              />
              <mat-icon matSuffix>palette</mat-icon>
              <mat-hint>{{'Warning color' | transloco}}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input
                matInput
                type="text"
                [formControlName]="'presetName'"
                [placeholder]="'Pick a preset name'|transloco"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of themePresetOptions | async" [value]="option">
                  {{option|transloco}}
                </mat-option>
              </mat-autocomplete>
              <mat-hint>{{'Pick a preset name' | transloco}}</mat-hint>
            </mat-form-field>

            <button
              class="dino-theme-presets-button"
              mat-raised-button
              color="accent"
              (click)="loadDinoTheme()"
              [disabled]="!dinoSaveThemeForm.get('presetName')?.valid"
              [attr.aria-label]="'Load the preset'|transloco"
            >
              {{'Load'|transloco}}
            </button>

            <button
              class="dino-theme-presets-button"
              mat-raised-button
              color="primary"
              (click)="saveDinoTheme()"
              [disabled]="!dinoSaveThemeForm.valid"
              [attr.aria-label]="'Save the preset'|transloco"
            >
              {{'Save'|transloco}}
            </button>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <div mat-dialog-actions class="dino-user-area-menu">
    <button mat-raised-button (click)="closeDialog()" color="warn">{{'Close'|transloco}}</button>
  </div>
</ng-container>
