dino-user-area {
  .dino-user-area-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    .dino-user-area-title,
    .dino-user-area-dark-mode-toggle {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      margin: 0 0 20px;
    }
  }
  .mat-tab-body-content {
    overflow: hidden !important;
  }
  .mat-expansion-panel-header {
    background: transparent !important;
  }

  .dino-error-message {
    display: none;
  }

  .dino-user-area-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .mat-form-field,
    .mat-button-ripple-round,
    .dino-error-message {
      flex: 1 0 auto !important;
      margin-left: 10px;
    }
    .mat-form-field,
    .mat-fab,
    .dino-error-message {
      margin-top: 20px !important;
    }
    &.dino-error {
      .dino-error-message {
        display: block;
        font-size: 1.1em;
        line-height: 2.5em;
      }
    }
  }
  .mat-raised-button {
    align-self: center;
  }
  .dino-theme-presets-button {
    margin: 15px;
  }
}
