dino-form-status-editor {
  .dino-warning {
    font-weight: bold;
  }
  .dino-status-editor-field {
    padding: 25px;
    font-size: 1.2em;
  }

  .mat-mdc-form-field {
    position: relative;
    flex: 1 1 auto;
  }

  .mat-datepicker-toggle {
    flex: 1 1 auto;
    width: auto !important;
  }
  .mat-mdc-input-element {
    flex: 1 1 auto;
    width: 100%;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 0px;
    bottom: 10px;
  }

  overflow: hidden;
  .mat-mdc-dialog-title,
  .mat-mdc-dialog-actions .mat-mdc-raised-button {
    flex: 0.25 0 auto;
    margin: auto;
    text-align: center;
  }
  .mat-mdc-dialog-content {
    form {
      position: relative;
      max-height: 80vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      overflow: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
