<div *ngIf="(loggedIn|async) === false">
  <div class="dewco-logo-container">
    <div class="dewco-logo">
      <img [src]="logoImagePath" alt="" />
    </div>
  </div>
  <ng-content select="[dropdownSelect]"></ng-content>
  <div class="dewco-login-form-container">
    <form [class.dewco-error]="loginError" [formGroup]="loginForm">
      <input
        matInput
        formControlName="email"
        name="email"
        type="text"
        aria-label="email"
        [placeholder]="'Username / email'"
      />
      <input
        matInput
        formControlName="password"
        name="password"
        type="password"
        aria-label="password"
        [placeholder]="'Password'"
      />
      <div *ngIf="loginError === true" class="dewco-error-message">
        Invalid username and/or password
      </div>
      <button
        mat-fab
        type="submit"
        color="accent"
        aria-label="submit"
        (click)="login()"
        [disabled]="loggingIn || (submitDisabled|async) === true"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <mat-progress-bar
        aria-label="Login progress"
        [class.dewco-show]="loggingIn === true"
        [color]="'accent'"
        mode="indeterminate"
      >
      </mat-progress-bar>
    </form>
  </div>
  <ng-content select="[additionalContent]"></ng-content>
</div>
