<div *ngIf="(loggedIn|async) === false ; else logoutBtn">
  <div class="dewco-logo-container">
    <div class="dewco-logo">
      <mat-icon fontSet="dewco-icon"></mat-icon>
    </div>
  </div>
  <div class="dewco-login-form-container">
    <form [class.dewco-error]="loginError" [formGroup]="loginForm">
      <input formControlName="email" name="email" type="text" aria-label="email" [placeholder]="'Username / email'">
      <input formControlName="password" name="password" type="password" aria-label="password"
        [placeholder]="'Password'">
      <div *ngIf="loginError === true" class="dewco-error-message">Invalid username and/or password</div>
      <button mat-fab type="submit" color="warn" aria-label="submit" (click)="login()"
        [disabled]="loggingIn || (submitDisabled|async) === true">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="dewco-password-recover">
        <a mat-button routerLink="/auth/recover-password">{{ 'Forgot your password?' }} </a>
      </div>
      <mat-progress-bar aria-label="Login progress" [class.dewco-show]="loggingIn === true" mode="indeterminate"></mat-progress-bar>
    </form>
  </div>
</div>

<ng-template #logoutBtn>
  <div>
    <div class="dewco-logo-container">
      <div class="dewco-logo">
        <mat-icon fontSet="dewco-icon"></mat-icon>
      </div>
    </div>
    <div class="dewco-login-form-container">
      Logout
      <button mat-fab type="submit" color="warn" aria-label="logout" (click)="logout()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
