<div class="dino-mixed-editor-container">
  <div
    [class]="'dino-mixed-list-container' + (viewOnly ? ' dino-mixed-list-container-hidden' : '')"
  >
    <div class="dino-mixed-list-filter">
      <mat-form-field appearance="fill">
        <mat-label>Search Items</mat-label>
        <input #search matInput />
        <mat-icon matSuffix>rule</mat-icon>
      </mat-form-field>
    </div>

    <div
      id="targetsList"
      cdkDropList
      [cdkDropListDisabled]="true"
      [cdkDropListData]="(sourceList|async)!"
      class="dino-mixed-list"
    >
      <ng-container *ngFor="let item of (sourceList|async)">
        <ng-container *ngIf="item.displayed">
          <div
            class="dino-mixed-list-item"
            [class.dino-mixed-list-item-disabled]="item.disabled"
            [class.dino-mixed-list-item-alloption]="item.allOptionItem"
          >
            <mat-icon
              class="dino-mixed-list-icon-identifier"
              [matTooltip]="getTooltip(item)"
              [matTooltipPosition]="'after'"
              >{{item.itemIcon}}</mat-icon
            >
            <div class="dino-mixed-list-entry-tile">{{item.itemName}}</div>

            <ng-template #boxBtn>
              <button mat-icon-button color="primary" aria-label="Add item" (click)="addItem(item)">
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>

            <ng-template #boxDisabledBtn>
              <button mat-icon-button color="primary" aria-label="Disabled item">
                <mat-icon>not_interested</mat-icon>
              </button>
            </ng-template>

            <ng-container
              *ngTemplateOutlet="item.disabled ? boxDisabledBtn : boxBtn"
            ></ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="dino-mixed-list-container">
    <div class="dino-mixed-list-savename">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input #saveListName matInput [disabled]="viewOnly" />
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>
    </div>

    <div
      id="groupTargetList"
      cdkDropList
      [cdkDropListDisabled]="true"
      [cdkDropListData]="saveList"
      class="dino-mixed-list"
    >
      <div class="dino-mixed-list-item dino-mixed-list-item-savelist" *ngFor="let item of saveList">
        <mat-icon
          class="dino-mixed-list-icon-identifier"
          [matTooltip]="getTooltip(item)"
          [matTooltipPosition]="'after'"
          >{{item.itemIcon}}</mat-icon
        >
        <div class="dino-mixed-list-entry-tile">{{item.itemName}}</div>
        <button
          *ngIf="!viewOnly"
          mat-icon-button
          color="primary"
          aria-label="Remove item"
          (click)="removeItem(item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="dino-mixed-list-action-buttons-container">
    <button
      *ngIf="!viewOnly"
      mat-raised-button
      class="dino-mixed-list-action-button"
      color="primary"
      cdkFocusInitial
      (click)="saveMixedList()"
      [disabled]="!validateSaveList()"
    >
      Save
    </button>
    <button
      mat-raised-button
      class="dino-mixed-list-action-button"
      color="warn"
      (click)="onClose()"
    >
      Close
    </button>
  </div>
</div>
