<ng-container>

    <dewco-search-filters-preset-manager></dewco-search-filters-preset-manager>

    <div class="toolbar">

        <ng-container [formGroup]="dateSearchFilters">

            <mat-form-field floatLabel="always">
                <input formControlName="dateStart" matInput [matDatepicker]="pickerFrom" [placeholder]="'From date'">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>


            <mat-form-field floatLabel="always">
                <input matInput formControlName="dateEnd" [matDatepicker]="pickerTo" [placeholder]="'To date'">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>

        </ng-container>

        <ng-container [formGroup]="textSearchFilters">

            <mat-form-field floatLabel="always">
                <input matInput formControlName="keyword" [placeholder]="'search by keyword'">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

        </ng-container>

        <ng-container *ngFor="let group of optionalFilters; let idx = index" [formGroup]="group">

            <mat-form-field floatLabel="always" *ngIf="optionalFiltersLabels[idx]">
                <input matInput [formControlName]="optionalFiltersLabels[idx]"
                    placeholder="search by {{optionalFiltersLabels[idx]}}">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

        </ng-container>

        <button mat-button (click)="openDialog()" aria-label="Open the advanced filters">
            <mat-icon matSuffix>filter_list</mat-icon>
        </button>

    </div>

    <dewco-search-filters-chips (excludeFilter)="removeFilter($event, ['advanced'])" [chipsType]="'advanced'">
    </dewco-search-filters-chips>

</ng-container>
