.mat-icon {
  cursor: pointer;
}

.mat-line {
  cursor: default !important;
}

.dewco-filters-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .mat-form-field {
    padding: 5px;
    flex: 1 1 auto;
  }
  .dewco-filters-dialog-button {
    flex: 1 1 auto;
  }
}

.mat-expansion-panel,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true']) .mat-expansion-panel-header:hover {
  background: inherit;
}
.mat-expansion-panel {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .dewco-filters-dialog-button {
    width: 100%;
  }
}
