<main>
  <dino-main-nav
    [sections]="(sections|async)!"
    [adminSections]="adminSections"
    [setAdminRoles]="adminRoles"
    [setLogoutDisabled]="(barButtonsDisabled|async) === true || logoutDisabled === true"
    [setSyncSpinnerDisabled]="(barButtonsDisabled|async) === true"
    [setSideMenuDisabled]="(barButtonsDisabled|async) === true"
    [setLinkIcons]="linkIcons"
    [logoImagePath]="(logoImagePath|async) ?? lightLogoPath"
    [spinnerImagePath]="(spinnerImagePath|async) ?? lightSpinnerPath"
    [userSectionIcon]="customSvgIcons?.userSection"
    [syncIcon]="customSvgIcons?.sync"
    [customLanguages]="customLanguages"
    [initialExtendedSidenav]="initialExtendedSidenav"
    [initializationScreenMaxDuration]="initializationScreenMaxDuration"
    [backupRestore]="backupRestore"
    [appVersion]="appVersion"
    [userSectionsLabel]="userSectionsLabel"
    [adminSectionsLabel]="adminSectionsLabel"
  ></dino-main-nav>
</main>
