dino-lang-selector {
  margin-right: 1.5em;
  display: flex;
  align-items: center;

  mat-form-field {
    font-size: 80% !important;
    width: 40px;
    mat-select {
      width: unset !important;
    }
    .mat-form-field-wrapper {
      padding-bottom: 10px !important;
    }
  }

  .mat-form-field-infix {
    border: 0;
    padding: 0px !important;
  }

  .mat-input-underline {
    position: static;
  }

  .mat-form-field-underline {
    background-color: transparent;
    display: none;
  }

  .mat-select-arrow {
    color: transparent;
  }
}
