dino-edit-report {
  canvas {
    min-height: 300px;
  }
  ajf-table {
    table {
      width: -webkit-fill-available;
      border-spacing: 1px;
      margin-bottom: 15px;
    }
    td {
      padding: 25px;
    }
    tr {
      th {
        background-color: rgb(var(--palette-primary-500)) !important;
        border-bottom: none !important;
      }
    }
  }

  ajf-widget {
    ng-component {
      background-color: transparent !important;
    }
  }

  .dino-edit-report-step-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .dino-edit-report-step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 85vh;
    @media only screen and (max-width: 992px) {
      min-height: 75vh;
    }
    padding-bottom: 15vh;
  }
  .mat-stepper-horizontal {
    background-color: transparent !important;
    .mat-horizontal-stepper-content .mat-stepper-previous {
      display: none;
    }
  }
  .mat-horizontal-stepper-header-container {
    border-bottom: 1px solid white;
    .mat-horizontal-stepper-header {
      padding: 8px;
      flex-direction: row;
      &::before,
      &::after {
        visibility: hidden;
      }
      .mat-step-label {
        padding: 0px;
        padding-left: 5px;
      }
    }
    .mat-stepper-horizontal-line {
      visibility: hidden;
    }
  }
  .mat-horizontal-content-container {
    padding: 0px 4px 4px;
    @media only screen and (max-height: 900px) {
      padding-bottom: 10vh;
    }
    @media only screen and (max-height: 580px) {
      padding-bottom: 30vh;
    }
  }
  .dino-edit-report-print {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0;
    span {
      flex-grow: 1;
    }
    button {
      margin-left: 8px;
      min-width: 50px;
      padding: 0 5px;
      height: 30px !important;
    }
  }
  .dino-edit-report-info {
    text-align: center;
    h1,
    h2 {
      flex: 1 0 auto;
    }
  }
  .dino-no-items-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 85vh;
    opacity: 0.4;
  }
  .dino-aireport-progress-bar-message {
    position: relative;
    top: 30%;
    text-align: center;
    margin: auto;
    opacity: 0.6;
    color: rgb(var(--palette-primary-500));
    margin-top: 30vh;
  }
  .dino-loading {
    position: unset !important;
    width: unset !important;
    left: unset !important;
    .dino-sync-text {
      opacity: 0.3;
      text-align: center;
      margin: auto;
      position: relative;
      top: 10em;
      color: inherit;
    }
    .dino-component-load-spinner {
      height: 18vh !important;
      width: 18vw !important;
    }
    .dino-aireport-progress-bar {
      width: 50vw !important;
      margin: auto;
      margin-top: 20px;
      transition: all ease-in-out 0.3;
      -webkit-transition: all ease-in-out 0.3s;
    }
  }
}
.isDarkTheme {
  ajf-text {
    color: rgba(var(--palette-background-secondary-text));
  }

  ajf-table {
    tr:nth-child(even) {
      td {
        background-color: rgb(var(--palette-background-dialog-dark)) !important;
        color: white !important;
      }
    }
    tr:nth-child(odd) {
      td {
        background-color: rgb(var(--palette-background-tooltip-dark)) !important;
        color: white !important;
      }
    }
  }
}
.isLightTheme {
  ajf-text {
    color: rgba(var(--palette-foreground-secondary-text));
  }
}
