<div class="dino-filters-dialog-menu">
  <button mat-raised-button (click)="search()" color="accent">
    {{'Search'|transloco}}
  </button>
  <button mat-raised-button (click)="closeDialog()" color="warn">
    {{'Close'|transloco}}
  </button>
</div>

<mat-dialog-content>
  <dino-search-filters-chips
    (excludeFilter)="removeFilter($event, 'temporary')"
    [chipsType]="'temporary'"
  >
  </dino-search-filters-chips>
  <mat-tab-group (selectedIndexChange)="setCurrentGroupId($event)">
    <mat-tab
      *ngFor=" let filterGroup of fts.generatedFilters|async;"
      [label]="filterGroup.filterGroupName|transloco"
      style="width: 100%"
    >
      <ng-template matTabContent>
        <dino-search-filters-widget
          *ngFor="let filterItem of filterItemsData|async;"
          [filterItemData]="filterItem"
          (includeFilter)="addFilter($event, 'temporary')"
          (excludeFilter)="removeFilter($event, 'temporary')"
        >
        </dino-search-filters-widget>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
