@mixin datepicker-core($typography-config: null) {
    .mat-date-range-input {
        flex: 1 1 auto;
        margin: auto;
        letter-spacing: 0.2px;
    }
    .mat-calendar {
        border-radius: 3px;
        padding: 10px;
        .mat-calendar-table-header-divider {
            display: none;
        }
        .mat-mdc-icon-button {
            border-radius: 0;
            margin: 0 3px;
        }
    }
}
