@mixin checkbox-core($typography-config: null) {
    .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin,
    .mat-pseudo-checkbox.mat-option-pseudo-checkbox {
        width: 20px;
        height: 20px;
    }

    .mat-pseudo-checkbox.mat-option-pseudo-checkbox::after {
        left: 3px;
        top: 4px;
    }
}
