@use 'sass:map';
@use '@angular/material' as mat-theming;

@mixin card-color($config-or-theme) {
    $config: mat-theming.get-color-config($config-or-theme);
    $background: map.get($config, background);
    $foreground: map.get($config, foreground);
    $primary: map.get($config, primary);
    $accent: map.get($config, accent);

    .mat-mdc-card {
        background: mat-theming.get-color-from-palette($background, card);
        color: mat-theming.get-color-from-palette($foreground, text);
        border-left-color: mat-theming.get-color-from-palette($accent);
        .ajf-field-entry .mat-mdc-radio-button,
        .ajf-field-entry ajf-checkbox-group-item .mat-mdc-button {
            background-color: inherit !important;
        }
    }

    .mat-mdc-card-subtitle {
        color: mat-theming.get-color-from-palette($foreground, secondary-text);
    }

    .mat-mdc-card-actions {
        background-color: mat-theming.get-color-from-palette($accent, 900, 0.2) !important;
        color: mat-theming.get-color-from-palette($foreground, secondary-text);
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-card
        .mat-card-content
        .ajf-choices-container
        .ajf-checkbox-group-checked
        .mat-mdc-button
        .mat-button-wrapper
        .mat-icon {
        color: mat-theming.get-color-from-palette($accent) !important;
    }
}

@mixin mat-card-typography($config-or-theme) {
    $config: mat-get-typography-config($config-or-theme);
    .mat-mdc-card {
        font-family: mat-font-family($config);
    }

    .mat-mdc-card-title {
        font: {
            size: mat-font-size($config, title);
            weight: mat-font-weight($config, title);
        }
    }

    .mat-mdc-card-subtitle,
    .mat-mdc-card-content,
    .mat-mdc-card-actions {
        font-size: mat-font-size($config, body-1);
        font-weight: mat-font-weight($config, body-1);
    }
}

@mixin _mat-card-density($config-or-theme) {
}

@mixin card-theme($theme-or-color-config) {
    $color: mat-theming.get-color-config($theme-or-color-config);
    $density: mat-theming.get-density-config($theme-or-color-config);
    $typography: mat-theming.get-typography-config($theme-or-color-config);

    @if $color != null {
        @include card-color($color);
    }
    @if $density != null {
        @include _mat-card-density($density);
    }
    @if $typography != null {
        @include mat-card-typography($typography);
    }
}
