@mixin card-core($typography-config: null) {
    .mat-mdc-card {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin: 1%;
        margin-top: 5px;
        border-radius: 0%;
        border-left: 3px solid;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        .mat-card-header-text {
            margin: 0;
        }

        .mat-mdc-card-content {
            position: relative;
            flex: 1;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 9%;
        }

        .mat-mdc-card-actions {
            position: absolute;
            bottom: 2.5%;
            width: 94.1%;
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            padding: 10px 3% !important;
            text-align: right;
        }
    }
}
