dino-edit-form-schema {
  > .mat-mdc-card:first-child {
    border-left: none;
    margin: 0%;
    padding: 0px;
    background: transparent;
    .mat-mdc-card-header {
      display: flex;
      flex-flow: row wrap;
      padding-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      .dino-form-attributes {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .mat-mdc-form-field {
          flex: 1 1 auto;
          font-size: 125%;
          margin: 5px;
          &.dino-form-attribute-short-field{
            max-width: 150px;
          }
        }
        .mat-mdc-checkbox {
          .mdc-form-field {
            margin-top: 20px;
          }
        }
      }
      .dino-edit-form-schema-actions {
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
        .mat-mdc-raised-button {
          margin-left: 20px;
        }
      }
    }
    .mat-mdc-card-content {
      padding-bottom: 0%;
      max-height: 60vh;
      overflow-y: auto;
      ajf-form-builder {
        min-height: 60vh;
      }
      .mat-drawer-content {
        .ajf-fields-list {
          background: transparent;
        }
        .ajf-designer ajf-fb-node-entry .mat-mdc-card-container .mat-mdc-card {
          background: transparent;
          background-color: transparent;
        }
        .ajf-fields-list .mat-mdc-card-container .mat-mdc-card {
          margin-left: 50px;
        }
      }
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version. */
.mat-mdc-autocomplete-panel,
.mat-mdc-select-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
  .mat-mdc-option .mat-icon {
    margin-right: 0;
  }
  .dino-status-option-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    .dino-status-option {
      flex: 1 0 auto;
    }
    .dino-status-edit-button {
      flex: 0 1 auto;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  .mat-option-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .mat-mdc-option {
    &:hover,
    &.mat-active {
      background-color: transparent;
      background: transparent;
    }
    .mat-pseudo-checkbox::after {
      color: inherit;
    }
  }
  .dino-new-status-button-option {
    .mat-pseudo-checkbox {
      display: none;
    }
    .dino-new-status-button {
      width: 100%;
      text-align: center;
      opacity: 0.3;
      transition: all ease-in-out 0.3;
      -webkit-transition: all ease-in-out 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
