<dino-login
  [postLogin]="postLogin"
  [logoImagePath]="(logoImagePath|async) ?? lightLogoPath"
  [privacyPolicy]="privacyPolicy"
  [fullNameLabel]="fullNameLabel"
  (emitActionTrigger)="processActionTrigger($event)"
>
  <ng-container additionalContent>
    <div class="theme-toggle">
      <dino-theme-switch></dino-theme-switch>
    </div>
  </ng-container>

  <mat-form-field *ngIf="dynamicConfig" class="dino-platform-dropdown" dropdownSelect>
    <mat-label>{{ 'Choose your platform' | transloco }}</mat-label>
    <mat-select #platformselect>
      <mat-option *ngFor="let set of configurationSets | async" [value]="set">
        {{ set.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</dino-login>
