dewco-search-filters-widget {
  display: flex;
  flex: 0 1 30% !important;
  margin: 1.5%;
  transition: opacity ease 0.5s !important;
  form {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1;
    height: 100%;
    div {
      height: 100%;
    }
    .mat-card {
      width: 90%;
      min-height: 30vh;
      .mat-card-actions {
        margin-left: -16px;
      }
    }
  }
  .mat-card-content {
    .dewco-filter-widget-label {
      width: 100%;
      flex: 1 1 auto;
      font-weight: bold;
    }
    .mat-select {
      margin: 20px 0px;
    }
  }
  ajf-field {
    .mat-radio-group {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      .mat-radio-button {
        flex: 1 1 30%;
        padding: 5px;
      }
    }

    ajf-checkbox-group.ajf-choices-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      ajf-checkbox-group-item {
        width: 100%;
        .mat-button {
          width: 100%;
          span.mat-button-wrapper {
            flex-flow: row wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
