<mat-card class="dino-audio-recorder-card">
  <mat-card-header>
    <mat-card-title>{{'Record your Form'|transloco}}</mat-card-title>
    <mat-card-subtitle>{{'Dino AI will fill it for you'|transloco}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="(blobUrl|async) === null">
      <h3>{{'Form Fields'|transloco}}</h3>
      <mat-list class="dino-form-fields-summary">
        <mat-list-item *ngFor="let item of formFields">
          <span
            matListItemTitle
            [matTooltip]="item.description"
            [ngClass]="item.description ? 'dino-with-description' : null"
            >{{item.label}}
            <mat-icon color="primary" *ngIf="item.description">info</mat-icon>
          </span>
        </mat-list-item>
      </mat-list>
    </ng-container>

    <div *ngIf="isRecording && (blobUrl|async) === null" class="dino-recording-time">
      <button mat-fab extended>
        {{(recordedTime|async) ?? '0:00'}}
        <mat-icon>timer</mat-icon>
      </button>
    </div>

    <audio
      *ngIf="!isRecording && mimetype().startsWith('audio') && (blobUrl|async) as sourceUrl"
      controls
      preload="metadata"
      autoplay
      class="dino-audio-element"
    >
      <source [src]="sourceUrl" type="audio/mp3" />
    </audio>

    <mat-icon class="pdf-icon" *ngIf="!isRecording && mimetype() === 'application/pdf'">
      picture_as_pdf
    </mat-icon>

    <img
      *ngIf="!isRecording && mimetype().startsWith('image')"
      class="preview-image"
      [src]="(blobUrl|async)"
    />

    <mat-form-field *ngIf="audioTranscription|async as transcription">
      <textarea rows="3" disabled="true" matInput [value]="transcription"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-fab
      extended
      color="primary"
      *ngIf="!isRecording && (blobUrl|async) === null"
      (click)="startRecording()"
    >
      {{'Record'|transloco}}
      <mat-icon>mic</mat-icon>
    </button>

    <span *ngIf="!isRecording && (blobUrl|async) === null"> &nbsp; {{'or'|transloco}} &nbsp; </span>

    <button
      mat-fab
      extended
      color="primary"
      *ngIf="!isRecording && (blobUrl|async) === null"
      (click)="loadFile()"
    >
      {{'Upload a file'|transloco}}
      <mat-icon>upload</mat-icon>
    </button>

    <button
      mat-fab
      extended
      *ngIf="isRecording && (blobUrl|async) === null"
      (click)="stopRecording()"
    >
      {{'Stop Recording'|transloco}}
      <mat-icon>pause</mat-icon>
    </button>

    <button
      mat-fab
      extended
      color="warn"
      [disabled]="(isCommunicating|async) === true"
      *ngIf="!isRecording && (blobUrl|async) !== null"
      (click)="clearRecordedData()"
    >
      {{'Delete'|transloco}}
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-fab
      extended
      color="accent"
      [disabled]="(isCommunicating|async) === true"
      *ngIf="!isRecording && (blobUrl|async) !== null"
      (click)="download()"
    >
      {{'Download'|transloco}}
      <mat-icon>download</mat-icon>
    </button>

    <button
      mat-fab
      extended
      color="primary"
      [disabled]="(isCommunicating|async) === true || (nss.isOnline$|async) === false"
      *ngIf="!isRecording && (blobUrl|async) !== null && (audioTranscription|async) === null"
      (click)="transcribe()"
    >
      {{'Transcribe'|transloco}}
      <mat-icon *ngIf="(isCommunicating|async) === false; else communicatingSpinner"
        >transcribe</mat-icon
      >
    </button>

    <button
      mat-fab
      extended
      color="primary"
      [disabled]="(isCommunicating|async) === true || (nss.isOnline$|async) === false"
      *ngIf="(audioTranscription|async) !== null"
      (click)="audioFormCompile()"
    >
      {{'Fill the Form'}}<mat-icon
        *ngIf="(isCommunicating|async) === false; else communicatingSpinner"
        >edit_note</mat-icon
      >
    </button>
  </mat-card-actions>

  <ng-template #communicatingSpinner>
    <mat-spinner
      matSuffix
      color="accent"
      class="dino-communicating-spinner"
      [strokeWidth]="4"
      [diameter]="24"
      mode="indeterminate"
    ></mat-spinner>
  </ng-template>
</mat-card>
