<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z">
    <mat-expansion-panel-header>
      <ng-container *ngIf="!aggregationFilters; else openFilterPanel">
        <ng-container *ngTemplateOutlet="keywordfilter"></ng-container>
      </ng-container>
      <ng-template #openFilterPanel
        ><div class="dino-open-aggregation-filters">
          <mat-icon color="primary" matSuffix>search</mat-icon>
        </div></ng-template
      >
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="filtersbar"></ng-container>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #keywordfilter>
  <ng-container [formGroup]="textSearchFilters">
    <mat-form-field
      class="dino-filter-keyword"
      floatLabel="always"
      (click)="$event.stopPropagation()"
      (keydown.Space)="$event.stopImmediatePropagation();"
    >
      <input
        matInput
        #keywordinput
        formControlName="keyword"
        [placeholder]="'search by keyword'|transloco"
      />
      <mat-icon color="primary" matSuffix>search</mat-icon>
      <mat-icon
        matSuffix
        color="primary"
        *ngIf="keywordinput.value"
        aria-label="Clear"
        (click)="clearFilter('keyword', textSearchFilters)"
        class="dino-clear-filter-button"
        >close</mat-icon
      >
    </mat-form-field>
  </ng-container>
</ng-template>

<ng-template #filtersbar>
  <div class="dino-filters-bar">
    <dino-search-filters-preset-manager
      *ngIf="presetManager && (breakpointObserver.small|async|isFalseOrNull)"
    ></dino-search-filters-preset-manager>

    <ng-container [formGroup]="dateSearchFilters">
      <mat-form-field floatLabel="always">
        <input
          #datestartinput
          matInput
          formControlName="dateStart"
          [matDatepicker]="pickerFrom"
          [matDatepickerFilter]="maxDatePicker"
          [placeholder]="'From date'|transloco"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-icon
          matSuffix
          color="primary"
          *ngIf="datestartinput.value"
          aria-label="Clear"
          (click)="clearFilter('dateStart', dateSearchFilters)"
          class="dino-clear-filter-button"
          >close</mat-icon
        >
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <input
          #dateendinput
          matInput
          formControlName="dateEnd"
          [matDatepicker]="pickerTo"
          [matDatepickerFilter]="minDatePicker"
          [placeholder]="'To date'|transloco"
        />
        <mat-datepicker-toggle color="primary" matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-icon
          matSuffix
          color="primary"
          *ngIf="dateendinput.value"
          aria-label="Clear"
          (click)="clearFilter('dateEnd', dateSearchFilters)"
          class="dino-clear-filter-button"
          >close</mat-icon
        >
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </ng-container>

    <ng-container *ngFor="let group of additionalBasicFilters; let idx = index" [formGroup]="group">
      <ng-template #metricOrStatusField>
        <mat-form-field
          floatLabel="always"
          *ngIf="additionalBasicFiltersLabels[idx] &&
          (isMetric(group) ||
          isMetricSubFilter(group) ||
          isUser(group) ||
          (isStatus(group) && (availableFormStatuses|async)?.length) )"
          (click)="showOptions(group)"
        >
          <input
            matInput
            #fltinput
            [formControlName]="additionalBasicFiltersLabels[idx]"
            placeholder="{{(additionalBasicFiltersLabels[idx]|transloco).charAt(0).toUpperCase() +
              (additionalBasicFiltersLabels[idx]|transloco).slice(1).replace('_', ' ').replace('data', '')}}"
            [matAutocomplete]="auto"
          />
          <mat-icon matSuffix color="primary">search</mat-icon>

          <mat-icon
            matSuffix
            color="primary"
            *ngIf="fltinput.value"
            aria-label="Clear"
            (click)="clearFilter(additionalBasicFiltersLabels[idx], group)"
            class="dino-clear-filter-button"
            >close</mat-icon
          >

          <mat-autocomplete
            #auto="matAutocomplete"
            [autoActiveFirstOption]="false"
            [displayWith]="displayItemName"
          >
            <ng-container *ngIf="isMetric(group); else statusOptions ">
              <mat-option
                *ngFor="let option of metricFiltersOptions[getControlKey(group)] | async"
                [value]="option"
                [ngClass]="'dino-option-level-' + (option.level ?? '0')"
              >
                {{displayItemName({id: [option.id], name: option.name, secondary:
                getMetricDataSecondaryAttribute(option, secondaryMetricFieldsDisplayed,
                additionalBasicFiltersLabels[idx])})}}
              </mat-option>
            </ng-container>

            <ng-template #statusOptions>
              <ng-container *ngIf="isStatus(group); else metricSubFilterOptions">
                <mat-option
                  [ngStyle]="{'color': option.color ?? 'inherit'}"
                  *ngFor="let option of formStatusFilterOptions | async"
                  [value]="option"
                >
                  {{option.label}}
                </mat-option>
              </ng-container>

              <ng-template #metricSubFilterOptions>
                <ng-container *ngIf="isMetricSubFilter(group); else userFilterOptions">
                  <mat-option
                    *ngFor="let option of metricFiltersOptions[getControlKey(group)] | async"
                    [value]="option"
                    [ngClass]="'dino-option-level-' + (option.level ?? '0')"
                  >
                    {{option[getMetricSubFilter(option, group)]}}
                  </mat-option>
                </ng-container>

                <ng-template #userFilterOptions>
                  <mat-option *ngFor="let option of usersFilterOptions | async" [value]="option">
                    {{option.full_name}}
                  </mat-option>
                </ng-template>
              </ng-template>
            </ng-template>
          </mat-autocomplete>
        </mat-form-field>
      </ng-template>

      <ng-template #default>
        <mat-form-field floatLabel="always" *ngIf="additionalBasicFiltersLabels[idx]">
          <input
            matInput
            [formControlName]="additionalBasicFiltersLabels[idx]"
            placeholder="{{'search by'|transloco}} {{additionalBasicFiltersLabels[idx]|transloco}}"
          />
          <mat-icon matSuffix color="primary">search</mat-icon>
        </mat-form-field>
      </ng-template>

      <ng-container
        *ngTemplateOutlet="isMetric(group) || isStatus(group) || isMetricSubFilter(group) || isUser(group) ? metricOrStatusField : default"
      ></ng-container>
    </ng-container>

    <ng-container *ngIf="additionalFilters">
      <button
        class="dino-filters-dialog-button"
        mat-stroked-button
        (click)="openDialog()"
        [attr.aria-label]="'Open the advanced filters'|transloco"
      >
        <mat-icon color="primary" matSuffix>filter_list</mat-icon>
      </button>

      <ng-container *ngIf="exportable">
        <button
          class="dino-export-button"
          mat-stroked-button
          (click)="openExportDialog()"
          [attr.aria-label]="'Export items'|transloco"
        >
          <mat-icon color="primary" matSuffix>cloud_download</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<dino-search-filters-chips
  (excludeFilter)="removeFilter($event, ['additional'])"
  [chipsType]="'additional'"
>
</dino-search-filters-chips>
