@use '@angular/material/core/theming/palette' as mat-palette;
@use '@angular/material/core/theming/theming' as mat-theming;

@use '../../core';
@use '../../all-core';
@use '../all-theme';
@use '../palette';

// Include non-theme styles for core.
@include all-core.mat-core();

// Define a theme.
$primary: mat-theming.define-palette(mat-palette.$light-blue-palette, 900, 700);
$accent: mat-theming.define-palette(mat-palette.$blue-grey-palette, 700);
$warn: mat-theming.define-palette(mat-palette.$red-palette, 900);
$alt_accent: mat-theming.define-palette(mat-palette.$light-blue-palette, 900);

$theme: core.light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
            alt_accent: $alt_accent,
        ),
    )
);

// Include all theme styles for the components.
@include all-theme.material-theme($theme);
