<h2>{{ title }}</h2>

<ng-content select="[filters]"></ng-content>

<div class="toolbar">
    <div class="dewco-toolbar-btn-container">
        <button mat-raised-button (click)="actionOnItems(selection.selected, {actionType: 'delete', askConfirm: true})"
            [disabled]="selection.selected.length <= 0" aria-label="Delete all items">
            <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
        </button>
        <button class="dewco-columns-sel-btn" #columns_btn mat-raised-button (click)="openColumnsSelectorDialog()"
            aria-label="Select the displayed columns">
            <mat-icon aria-hidden="false" aria-label="view_week icon">view_week</mat-icon>
        </button>
    </div>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container *ngFor="let header of headers;" [matColumnDef]="header.column.toString()">

        <ng-container *ngIf="header.sortable; else notSortable">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container *ngTemplateOutlet="cellTemplatesMap[header.label] ?
          cellTemplatesMap[header.label] : defaultHeaderCellTemplate;
          context: {$implicit: header.label}">
                </ng-container>
            </mat-header-cell>
        </ng-container>

        <ng-template #notSortable>
            <mat-header-cell *matHeaderCellDef>
                <ng-container *ngTemplateOutlet="cellTemplatesMap[header.label] ?
          cellTemplatesMap[header.label] : defaultHeaderCellTemplate;">
                </ng-container>
            </mat-header-cell>
        </ng-template>

        <ng-template #defaultHeaderCellTemplate>
            {{ header.label }}
        </ng-template>

        <mat-cell *matCellDef="let element">
            <ng-container *ngTemplateOutlet="cellTemplatesMap[header.column.toString()] ?
      cellTemplatesMap[header.column.toString()] : defaultCellTemplate;">
            </ng-container>
            <ng-template #defaultCellTemplate>
                {{ element[header.column.toString()] }}
            </ng-template>
        </mat-cell>

    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" class="right">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-icon mat-list-icon aria-label="delete icon"
                (click)="$event.stopPropagation(); actionOnItems(row, {actionType: 'delete', askConfirm: true});">delete
            </mat-icon>
            <mat-icon mat-list-icon aria-label="printer icon"
                (click)="$event.stopPropagation(); actionOnItems(row, {actionType: 'print', askConfirm: true});">printer
            </mat-icon>
            <mat-icon mat-list-icon aria-label="get_app icon"
                (click)="$event.stopPropagation(); actionOnItems(row, {actionType: 'download'});">get_app
            </mat-icon>
            <mat-icon mat-list-icon aria-label="create icon"
                (click)="$event.stopPropagation(); actionOnItems(row, {actionType: 'edit'});">create
            </mat-icon>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
