dino-list {
  .dino-table-container {
    padding-bottom: 9vh;
    overflow-x: scroll;
  }
  .dino-list-toolbar {
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    .dino-list-page {
      flex: 0 1 auto;
      align-self: center;
      position: relative;
      bottom: 10px;
    }
  }
  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: auto !important;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-table {
    width: auto !important;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    overflow: auto;
  }

  .mat-row {
    display: inline-flex;
    min-width: 100%;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-column-select {
    flex: 0 0 2% !important;
    min-width: 104px;
  }
  .mat-form-field.dino-details-search {
    margin-top: 25px !important;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    flex: 1 0;
  }

  mat-header-cell,
  mat-footer-cell,
  mat-cell:not(:last-of-type.mat-column-actions):not(.mat-column-select) {
    min-width: 12vw;
    @media only screen and (max-width: 992px) {
      min-width: 25vw;
    }
  }

  mat-header-cell:last-of-type.mat-column-actions,
  mat-cell:last-of-type.mat-column-actions {
    padding-right: 10px;
    position: absolute !important;
    background-color: inherit;
  }

  mat-cell:last-of-type.mat-column-actions {
    visibility: hidden;
  }

  .mat-cell.dino-expanded-cell {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column wrap;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-row:not(.dino-row-details):hover {
    .mat-column-actions {
      @media only screen and (min-width: 991px) {
        visibility: visible;
      }
      .mat-icon {
        cursor: pointer;
      }
    }
    &.dino-expanded-row {
      box-shadow: none;
    }
  }

  .dino-bulk-delete-button {
    background-color: transparent;
    border: none;
    outline: none;
    &:disabled {
      .mat-icon {
        opacity: 0.2;
      }
    }
  }

  .mat-row.dino-row-details {
    min-height: 0px;
    position: sticky;
    left: 0;
    background-color: transparent !important;
    margin-bottom: 8px;
  }

  .dino-expanded-row-actions {
    display: none;
  }

  div.dino-inner-table-container {
    width: 100%;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    .mat-table {
      background: transparent !important;
    }
  }

  .dino-columns-sel-btn {
    position: absolute;
    right: 10px;
    bottom: 55px;
  }
  .dino-columns-sel-btn,
  .dino-header-icon {
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    opacity: 0.7;
  }

  .dino-header-icon:hover,
  .dino-columns-sel-btn:hover {
    background: transparent !important;
    opacity: 1;
  }

  .mat-paginator {
    .mat-paginator-container {
      padding: 0px;
      flex: 1 0 auto;
      position: relative;
      bottom: 10px;
    }
    .mat-paginator-range-label {
      display: none;
    }
    .mat-icon-button {
      background: transparent;
    }
    @media only screen and (max-width: 992px) {
      .mat-paginator-page-size {
        margin-right: auto;
      }
      .mat-paginator-page-size-label {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .mat-icon-button.dino-expand-all-button {
      margin-left: 17px;
    }
    .dino-row-actions {
      right: 5px !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .mat-column-select {
      min-width: 5px;
    }
    .dino-row-actions {
      visibility: hidden;
      .dino-columns-sel-btn {
        visibility: visible;
      }
    }
    .dino-expanded-row-actions {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .dino-row-action-box {
        flex: 1 1 auto;
        text-align: center;
      }
    }
    .dino-select-item-checkbox {
      display: none;
    }
  }
}
