<mat-toolbar
  *ngIf="sidenav && (showNav|async) !== false"
  class="dino-toolbar"
  [class.dino-shadowed]="(!sidenav.opened) || (breakpointObserver.large|async)"
>
  <button
    mat-icon-button
    (click)="menuToggle()"
    aria-label="Toggle menu button"
    *ngIf="(sideMenuDisabled|async) !== true"
  >
    <mat-icon
      *ngIf="(breakpointObserver.large|async) ? (extendedSidenav|async) : sidenav.opened;else closed_menu"
      >menu_open</mat-icon
    >
  </button>

  <ng-template #closed_menu><mat-icon>menu</mat-icon></ng-template>

  <img class="dino-toolbar-logo" [src]="logoImagePath" alt="logo" />

  <div class="dino-toolbar-actions">
    <span
      *ngIf="(newVersionReady|async) as newVersion"
      class="dino-new-version-button"
      aria-label="Toolbar action"
      [matTooltip]="('New App version ready!'|transloco) + ' - ' + newVersion"
      [matTooltipPosition]="'left'"
      (click)="refreshVersion()"
      color="warn"
    >
      <mat-icon color="accent">download_for_offline</mat-icon>
    </span>

    <ng-container *ngIf="(breakpointObserver.small|async) !== true">
      <ng-container *ngIf="(availableTokens|async) !== null">
        <div
          class="dino-tokens-counter"
          [matTooltip]="'Your DINO-AI Credits'|transloco"
          [matTooltipPosition]="'left'"
          (click)="openUserArea('tokens')"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="DINO-AI Credits"
            class="dino-tokens-counter-icon"
            [matBadge]="availableTokens|async"
            matBadgeColor="primary"
            >smart_toy</mat-icon
          >
        </div>
      </ng-container>
      <mat-icon
        aria-hidden="false"
        aria-label="Light mode"
        style="opacity: 0.5"
        (click)="openUserArea('theme')"
        >wb_sunny</mat-icon
      >
      <mat-slide-toggle
        [checked]="ts.isDark()"
        (change)="setDarkTheme($event.checked)"
        style="margin: 10px"
        aria-label="Toggle Dino Theme"
      >
      </mat-slide-toggle>
      <mat-icon
        aria-hidden="false"
        aria-label="Dark mode"
        style="opacity: 0.5; margin-right: 25px;"
        (click)="openUserArea('theme')"
        >nights_stay</mat-icon
      >
    </ng-container>
    <ng-container *ngIf="(breakpointObserver.small|async) !== true">
      <ng-container *ngIf="(linkIcons|async) as actionLinkIcons">
        <ng-container *ngFor="let linkIcon of actionLinkIcons">
          <ng-container [ngTemplateOutlet]="linkIcon.url ? linkIconTemplate : infoIconTemplate ">
          </ng-container>
          <ng-template #linkIconTemplate>
            <a
              [href]="linkIcon.url"
              target="_blank"
              class="dino-link-button"
              aria-label="Toolbar action"
              [matTooltip]="linkIcon.tooltip || ''"
              [matTooltipPosition]="'left'"
            >
              <mat-icon color="primary">{{linkIcon.icon}}</mat-icon>
            </a>
          </ng-template>
          <ng-template #infoIconTemplate>
            <span
              class="dino-link-button"
              aria-label="Toolbar action"
              [matTooltip]="linkIcon.tooltip || ''"
              [matTooltipPosition]="'left'"
              onclick=""
            >
              <mat-icon color="primary">{{linkIcon.icon}}</mat-icon>
            </span>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
    <mat-icon class="dino-user-settings" (click)="openUserArea()">settings</mat-icon>
    <ng-template #syncOnline>
      <ng-container *ngIf="!syncIcon; else svgSyncIconTemplate;">
        <mat-icon
          *ngIf="(syncSpinnerDisabled|async) !== true"
          class="dino-sync-detector"
          [matTooltip]="(isThereUnsyncedData|async) === true && (isSyncing|async) === false ? ('You have unsynced data. Please click the Sync icon.'|transloco) : ''"
          [ngClass]="[(isSyncing|async) ? 'dino-sync-active' : '', (isThereUnsyncedData|async) === true && (isSyncing|async) === false ? 'dino-sync-unsynced':'']"
          [matBadge]="'!'"
          matBadgeColor="warn"
          [matBadgeHidden]="(problemSyncing|async) !== true || (isSyncing|async) === true"
          (click)="runSync()"
          >{{(isThereUnsyncedData|async) === true && (isSyncing|async) === false ?
          'sync_problem':'sync'}}</mat-icon
        >
      </ng-container>
      <ng-template #svgSyncIconTemplate>
        <mat-icon
          *ngIf="(syncSpinnerDisabled|async) !== true"
          class="dino-sync-detector"
          [ngClass]="(isSyncing|async) ? 'dino-sync-active' : ''"
          (click)="runSync()"
          svgIcon="{{syncIcon}}"
          >sync</mat-icon
        >
      </ng-template>
    </ng-template>
    <ng-template #syncOffline>
      <mat-icon class="dino-sync-detector">sync_disabled</mat-icon>
    </ng-template>
    <ng-container
      *ngIf="!isBackendless"
      [ngTemplateOutlet]="(networkStatusService.isOnline$|async) ? syncOnline : syncOffline "
    >
    </ng-container>

    <ng-container>
      <mat-icon
        *ngIf="unreadNotificationsNumber|async as newNotifications; else noBadgeTemplate"
        [matMenuTriggerFor]="notificationsmenu"
        class="dino-notifications-icon"
        [matBadge]="newNotifications"
        matBadgeColor="primary"
        [@.disabled]="newNotifications <= 0"
        [@notificationRing]="notificationRingState ? 'a' : 'b'"
      >
        notifications
      </mat-icon>

      <ng-template #noBadgeTemplate>
        <mat-icon [matMenuTriggerFor]="notificationsmenu" class="dino-notifications-icon">
          notifications
        </mat-icon>
      </ng-template>

      <mat-menu #notificationsmenu="matMenu" [class]="'dino-notifications-menu'">
        <div class="dino-notifications-menu-container">
          <div
            class="dino-notification-container"
            *ngFor="let notification of lastNotifications|async;"
          >
            <button
              [ngClass]="notification.read ? 'dino-read-notification' : 'dino-unread-notification'"
              (click)="notification.read ? null : markNotificationAsRead($event, notification)"
              [matTooltip]="notification.text || ''"
              [matTooltipPosition]="'left'"
              [matTooltipShowDelay]="1000"
              mat-menu-item
            >
              <mat-icon class="dino-notification-icon"> {{notification.icon}} </mat-icon>
              {{notification.text}}

              <button
                *ngIf="notification.redirect_url"
                class="dino-notification-gotourl-btn"
                mat-mini-fab
                color="accent"
                [matTooltip]="'Go to url'|transloco"
                [matTooltipPosition]="'left'"
                [matTooltipShowDelay]="500"
                (click)="goToNotificationUrl($event, notification)"
              >
                <mat-icon>link</mat-icon>
              </button>
            </button>
          </div>
        </div>

        <ng-container *ngIf="lastUnreadNotifications|async as unreadNotifications">
          <button
            *ngIf="unreadNotifications > 0"
            mat-menu-item
            class="dino-notification-action-button"
            (click)="markAllAsRead($event)"
          >
            {{'Mark all as read'|transloco}}
          </button>
        </ng-container>

        <button mat-menu-item class="dino-notification-action-button" (click)="goToNotifications()">
          {{'View all notifications'|transloco}}
        </button>
      </mat-menu>
    </ng-container>

    <dino-lang-selector [customLanguages]="customLanguages"></dino-lang-selector>
    <ng-container *ngIf="userDisplayName|async as userDisplayName">
      <mat-icon
        class="dino-active-user-icon"
        color="primary"
        (click)="openUserArea()"
        *ngIf="!userSectionIcon; else svgIconTemplate"
        >person</mat-icon
      >
      <ng-template #svgIconTemplate>
        <mat-icon
          class="dino-active-user-icon"
          color="primary"
          (click)="openUserArea()"
          svgIcon="{{userSectionIcon ?? ''}}"
        ></mat-icon>
      </ng-template>

      <span class="dino-active-user-text" (click)="openUserArea()">{{userDisplayName}}</span>
    </ng-container>
    <ng-container *ngIf="(logoutDisabled|async) !== true">
      <mat-icon
        class="dino-logout-button"
        [ngClass]="(logoutOff|async) ? 'dino-logout-button-off' : ''"
        (click)="logout()"
        >logout</mat-icon
      >
    </ng-container>
  </div>
</mat-toolbar>

<mat-sidenav-container class="dino-sidenav-container" autosize>
  <mat-sidenav
    *ngIf="(showNav|async) !== false"
    #sidenav
    [mode]="(breakpointObserver.large|async) ? 'side' : 'over'"
    [opened]="breakpointObserver.large|async"
    class="dino-sidenav"
    [class.dino-large-sidenav]="breakpointObserver.large|async"
    [class.extended]="extendedSidenav|async"
  >
    <mat-nav-list
      *ngIf="(isLoading|async) === false && (sideMenuDisabled|async) !== true"
      [@loadComponent]
      ><div *ngFor="let section of sections$|async" [tourAnchor]="section.url+'-nav'">
        <a
          mat-list-item
          [disableRipple]="true"
          [attr.aria-label]="section.label|transloco"
          [class.dino-section-selected]="isSectionSelected(section)"
          [routerLink]="[section.url]"
          (click)="menuClick()"
          aria-label="Section"
        >
          <mat-icon *ngIf="!section.svgIcon; else svgIconTemplate">{{section.icon}}</mat-icon>
          <ng-template #svgIconTemplate>
            <mat-icon svgIcon="{{section.svgIcon ?? ''}}"></mat-icon>
          </ng-template>
          <span *ngIf="extendedSidenav|async">{{section.label|transloco}}</span>
        </a>
      </div>
      <ng-container *ngIf="adminSections$|async as adminSections">
        <ng-container *ngIf="adminSections.length > 0 && (isAdmin|async)">
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            [disableRipple]="true"
            *ngFor="let adminSection of adminSections"
            [attr.aria-label]="adminSection.label"
            [class.dino-section-selected]="isSectionSelected(adminSection)"
            [routerLink]="[adminSection.url]"
            (click)="menuClick()"
            aria-label="Admin Section"
          >
            <mat-icon *ngIf="!adminSection.svgIcon; else svgAdminIconTemplate"
              >{{adminSection.icon}}</mat-icon
            >
            <ng-template #svgAdminIconTemplate>
              <mat-icon svgIcon="{{adminSection.svgIcon ?? ''}}"></mat-icon>
            </ng-template>
            <span *ngIf="extendedSidenav|async">{{adminSection.label|transloco}}</span>
          </a>
        </ng-container>
      </ng-container>

      <a
        *ngIf="(breakpointObserver.large|async) === false"
        class="dino-extend-menu-button"
        mat-list-item
        [attr.aria-label]="(extendedSidenav|async) ? 'close' : 'open'"
        [disableRipple]="true"
        (click)="extendedSidenav.next(!extendedSidenav.getValue())"
        aria-label="Expand menu"
      >
        <mat-icon>{{(extendedSidenav|async) ? 'close_fullscreen' : 'open_in_full' }}</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    [ngClass]="'dino-sidenav-content '+(tourService.isTourOngoing.value ? 'dino-sidenav-content-not-scrollable' : '')"
    [@loadComponent]
  >
    <ng-container *ngIf="(isLoading|async) === false; else loading">
      <router-outlet [@loadComponent] (activate)="onRouterOutletLoading($event)"></router-outlet>
    </ng-container>
    <ng-template #loading>
      <div class="dino-loading" [@loadComponent]>
        <ng-container *ngIf="spinnerImagePath; else defaultspinner">
          <h2 [@loadComponent] class="dino-sync-text">{{"Initializing data"|transloco}}...</h2>
          <dino-loading-spinner
            [@loadComponent]
            [spinnerImagePath]="spinnerImagePath"
          ></dino-loading-spinner>
        </ng-container>
        <ng-template #defaultspinner>
          <h2 [@loadComponent] class="dino-sync-text">{{"Initializing data"|transloco}}...</h2>
          <mat-spinner
            [@loadComponent]
            class="dino-component-load-spinner"
            mode="indeterminate"
            [diameter]="180"
          ></mat-spinner
        ></ng-template>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
