<mat-toolbar
  *ngIf="sidenav && (showNav|async) !== false"
  class="dino-toolbar"
  [class.dino-shadowed]="(!sidenav.opened) || (breakpointObserver.large|async)"
>
  <button mat-icon-button (click)="menuToggle()" aria-label="Toggle menu button">
    <mat-icon
      *ngIf="(breakpointObserver.large|async) ? (extendedSidenav|async) : sidenav.opened;else closed_menu"
      >menu_open</mat-icon
    >
  </button>

  <ng-template #closed_menu><mat-icon>menu</mat-icon></ng-template>

  <img class="dino-toolbar-logo" [src]="logoImagePath" alt="logo" />

  <div class="dino-toolbar-actions">
    <ng-container *ngIf="linkIcons|async as actionLinkIcons">
      <ng-container *ngFor="let linkIcon of actionLinkIcons">
        <a
          [href]="linkIcon.url"
          target="_blank"
          class="dino-link-button"
          aria-label="Toolbar action"
        >
          <mat-icon color="primary">{{linkIcon.icon}}</mat-icon>
        </a>
      </ng-container>
    </ng-container>
    <ng-template #syncOnline>
      <mat-icon class="dino-sync-detector" [ngClass]="(isSyncing|async) ? 'dino-sync-active' : ''"
        >sync</mat-icon
      >
    </ng-template>
    <ng-template #syncOffline>
      <mat-icon class="dino-sync-detector">sync_disabled</mat-icon>
    </ng-template>
    <ng-container
      [ngTemplateOutlet]="(networkStatusService.isOnline$|async) ? syncOnline : syncOffline "
    >
    </ng-container>
    <dino-lang-selector></dino-lang-selector>
    <ng-container *ngIf="userDisplayName|async as userDisplayName">
      <mat-icon class="dino-active-user-icon" color="primary" (click)="openUserArea()"
        >person</mat-icon
      >
      <span class="dino-active-user-text" (click)="openUserArea()">{{userDisplayName}}</span>
    </ng-container>
    <ng-container *ngIf="(logoutDisabled|async) !== true">
      <mat-icon
        class="dino-logout-button"
        [ngClass]="(logoutOff|async) ? 'dino-logout-button-off' : ''"
        (click)="logout()"
        >logout</mat-icon
      >
    </ng-container>
  </div>
</mat-toolbar>

<mat-sidenav-container class="dino-sidenav-container" autosize>
  <mat-sidenav
    *ngIf="(showNav|async) !== false"
    #sidenav
    [mode]="(breakpointObserver.large|async) ? 'side' : 'over'"
    [opened]="breakpointObserver.large|async"
    class="dino-sidenav"
    [class.dino-large-sidenav]="breakpointObserver.large|async"
    [class.extended]="extendedSidenav|async"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [disableRipple]="true"
        *ngFor="let section of sections$|async"
        [attr.aria-label]="section.label|transloco"
        [class.dino-section-selected]="isSectionSelected(section)"
        [routerLink]="[section.url]"
        (click)="menuClick()"
        aria-label="Section"
      >
        <mat-icon>{{section.icon}}</mat-icon>
        <span *ngIf="extendedSidenav|async">{{section.label|transloco}}</span>
      </a>

      <ng-container *ngIf="adminSections$|async as adminSections">
        <ng-container *ngIf="adminSections.length > 0 && (isAdmin|async)">
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            [disableRipple]="true"
            *ngFor="let adminSection of adminSections"
            [attr.aria-label]="adminSection.label"
            [class.dino-section-selected]="isSectionSelected(adminSection)"
            [routerLink]="[adminSection.url]"
            (click)="menuClick()"
            aria-label="Admin Section"
          >
            <mat-icon>{{adminSection.icon}}</mat-icon>
            <span *ngIf="extendedSidenav|async">{{adminSection.label|transloco}}</span>
          </a>
        </ng-container>
      </ng-container>

      <a
        *ngIf="(breakpointObserver.large|async) === false"
        class="dino-extend-menu-button"
        mat-list-item
        [attr.aria-label]="(extendedSidenav|async) ? 'close' : 'open'"
        [disableRipple]="true"
        (click)="extendedSidenav.next(!extendedSidenav.getValue())"
        aria-label="Expand menu"
      >
        <mat-icon>{{(extendedSidenav|async) ? 'close_fullscreen' : 'open_in_full' }}</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="dino-sidenav-content">
    <ng-container *ngIf="(isLoading|async) === false; else loading">
      <router-outlet (activate)="onRouterOutletLoading($event)"></router-outlet>
    </ng-container>
    <ng-template #loading>
      <ng-container *ngIf="spinnerImagePath; else defaultspinner"
        ><dino-loading-spinner [spinnerImagePath]="spinnerImagePath"></dino-loading-spinner>
      </ng-container>
      <ng-template #defaultspinner
        ><mat-spinner class="dino-component-load-spinner" mode="indeterminate"></mat-spinner
      ></ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
