dino-main-nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .mat-drawer {
    &.mat-drawer-side.mat-sidenav,
    &.mat-drawer-push.mat-sidenav,
    &.mat-drawer-over.mat-sidenav {
      .mat-mdc-list-item {
        justify-content: space-between;
        align-items: center;
        transition: all ease 0.5s;
        &:hover,
        &.dino-section-selected {
          background-color: rgb(var(--palette-primary-100));
          color: rgb(var(--palette-primary-500));
          box-shadow: 3px 0px 0px 0px rgb(var(--palette-primary-500)) inset;
        }
        &:hover {
          opacity: 0.6;
        }
        &.dino-section-selected {
          opacity: 1;
        }
      }
    }
  }

  .mat-drawer-side.mat-sidenav {
    border-right: none;
    .mat-nav-list,
    .mat-mdc-list-base {
      overflow: hidden;
    }
    .mat-mdc-list-item {
      padding: 6px;
    }
  }

  .dino-toolbar {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;

    &.dino-shadowed {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
      animation-name: shadowed-toolbar;
      animation-duration: 2s;
      animation-direction: alternate-reverse;
      animation-timing-function: ease-in-out;
    }

    .dino-toolbar-logo {
      position: relative;
      max-width: 10vw;
      max-height: 80%;
      margin: auto 10px;
    }
    .dino-logout-button {
      transition: opacity ease-in-out 0.5s;
      &.dino-logout-button-off {
        opacity: 0.3;
      }
    }
    .dino-toolbar-actions {
      cursor: pointer;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: center;
      .mat-icon {
        flex: 1 0 auto;
      }
      .dino-link-button {
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
      }
      .dino-user-settings {
        margin-right: 10px;
        opacity: 0.3;
        @media only screen and (min-width: 768px) {
          display: none;
        }
      }
      .dino-sync-detector,
      .dino-notifications-icon {
        margin-right: 25px;
        @media only screen and (max-width: 767px) {
          margin-right: 10px;
        }
        &.dino-sync-active {
          -webkit-animation: spin 2s ease-in-out infinite;
          -moz-animation: spin 2s ease-in-out infinite;
          animation: spin 2s ease-in-out infinite;
        }
        &.dino-sync-unsynced {
          color: rgb(var(--palette-accent-500));
        }
      }
      .dino-notifications-icon {
        -webkit-transform-origin: 50% 4px;
        -moz-transform-origin: 50% 4px;
        transform-origin: 50% 4px;
      }
      .dino-active-user-icon {
        color: inherit;
        margin-right: 5px;
      }
      .dino-active-user-text {
        margin-right: 20px;
        font-size: 90%;
      }
      .dino-active-user-icon,
      .dino-active-user-text {
        opacity: 0.3;
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  .mat-sidenav-container.dino-sidenav-container {
    flex: 1 0 auto;
    padding-bottom: 10px;
  }

  .mat-sidenav-content.dino-sidenav-content {
    height: 100vh;
    @media only screen and (max-width: 992px) {
      height: 84vh;
    }
    padding: 5px;
    background-color: inherit;
    .dino-loading {
      position: fixed;
      width: 50%;
      left: 25%;
      .dino-sync-text {
        opacity: 0.3;
        text-align: center;
        margin: auto;
        position: relative;
        top: 10em;
        color: inherit;
      }
      .dino-component-load-spinner {
        margin: auto;
        margin-top: 30vh;
      }
    }
  }

  .mat-sidenav.dino-large-sidenav {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    animation-name: shadowed-sidenav;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .mat-mdc-nav-list {
    padding-top: 0px;
    width: auto;
    .mat-mdc-list-item {
      min-height: 60px;
      &:focus,
      &:hover {
        background-color: inherit;
      }
      span {
        padding: 10px;
      }
      .mat-mdc-list-item-unscoped-content {
        display: flex;
        align-items: center;
      }
    }
    &.mat-mdc-list-base {
      padding-top: 0px;
    }
    .dino-extend-menu-button {
      position: absolute;
      bottom: 75px;
    }
  }
}
.dino-notifications-menu,
.mat-menu-content {
  &:empty {
    display: none;
  }
  &.mat-menu-panel {
    min-height: unset !important;
    max-width: 460px;
    @media only screen and (max-width: 768px) {
      max-width: 280px;
    }
  }
}
.dino-notifications-menu .mat-mdc-menu-content {
  padding-bottom: 0px !important;
  padding-top: 0px !important;

  .dino-notifications-menu-container {
    max-height: 240px;
    overflow-y: auto;
    padding: 0px;
    position: relative;
    .dino-notification-container {
      display: flex;
      .dino-notification-gotourl-btn {
        top: 2px;
        max-width: 30px;
        max-height: 30px;
        .mat-icon {
          position: relative;
          min-width: 40px;
          margin: auto;
        }
      }
      .mdc-list-item__primary-text {
        white-space: nowrap !important;
      }
    }
  }

  .mat-mdc-menu-item {
    .dino-notification-icon {
      color: rgb(var(--palette-primary-500));
      min-width: 24px;
    }
    &.dino-unread-notification {
      background-color: rgba(var(--palette-primary-500), 0.2);
      font-weight: bold;
    }
    &.dino-notification-action-button {
      span {
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
      border-top: 1px solid rgba(var(--palette-primary-500), 0.4);
      background-color: rgba(var(--palette-warn-500), 0.2);
      -webkit-transition: all ease-in-out 1.3s;
      transition: all ease-in-out 1.3;
      &:hover {
        background-color: rgba(var(--palette-warn-500), 0.4);
      }
    }
  }
}

@keyframes shadowed-toolbar {
  from {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
  }
  to {
    box-shadow: none;
  }
}

@keyframes shadowed-sidenav {
  from {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: none;
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
