<ng-content select="[breadcrumbs]"></ng-content>
<ng-container *ngIf="filterBar === true">
  <mat-form-field>
    <mat-label>{{ 'Filter' | transloco }}</mat-label>
    <input matInput [formControl]="filterCtrl">
    <mat-icon matSuffix>filter_alt</mat-icon>
  </mat-form-field>
</ng-container>
<mat-grid-list
  class="dino-grid-list"
  [cols]="(breakpointObserver.small|async) ? columnsSmall : columnsLarge"
  gutterSize="2.5em"
  rowHeight="1:1"
>
  <ng-container *ngIf="items|async as collectItems">
    <div class="dino-no-items-message" *ngIf="collectItems.length <= 0">
      <h1>{{noItemsMessage|async}}</h1>
    </div>
    <ng-container *ngFor="let item of collectItems">
      <mat-grid-tile
        class="dino-grid-tile"
        [routerLink]="item.url? item.url : ['/' + getCollectType, item.schemaId ? item.schemaId : item.name]"
        >
        <div>
          <div
            class="dino-grid-action-icons"
            *ngIf="(getCollectType === 'forms' ||  getCollectType === 'reports') && item.editable"
          >
            <button
              mat-mini-fab
              color="primary"
              aria-label="Edit Form Schema"
              (click)="editSchema(item.schemaId); $event.stopPropagation();"
            >
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <div class="title"></div>
          <div class="dino-grid-icon">
            <mat-icon class="dino-mat-icon">{{item.icon ?? 'list'}}</mat-icon>
          </div>
          <div class="dino-grid-label">
            <ng-container *ngIf="item.label ; else itemName">{{ item.label|transloco }}</ng-container>
            <ng-template #itemName>{{ item.name|transloco }}</ng-template>
          </div>
        </div>
      </mat-grid-tile>
    </ng-container>
  </ng-container>
</mat-grid-list>

<dino-floating-button
  *ngIf="displayAddButton|async"
  buttonIcon="add"
  [tooltipMessage]="'Add New {{schema}} Schema'|transloco:{schema: getCollectType.charAt(0).toUpperCase() + getCollectType.slice(1)}"
  (click)="addSchema()"
></dino-floating-button>
