<!-- Cell Container -->
<ng-container *ngIf="!(item|dinoListCellIsFile); else fileTemplate">
  <ng-container *ngIf="!(item|dinoListCellIsStorageImageUrl);else imageTemplate">
    <ng-container
      *ngIf="header?.fieldType === 3 &&
      header?.isEditable &&
      rowElement &&
      header?.isEditable(rowElement);
      then booleanCellTemplate; else standardCellTemplate"
    />
  </ng-container>
</ng-container>

<!-- ---- CELL TEMPLATES ---- -->

<!-- Image Cell template -->
<ng-template #imageTemplate>
  <ng-container
    *ngIf="!(item|dinoListCellIsDeletedFile);
    then validImageTemplate; else deletedFileTemplate"
  />
</ng-template>

<!-- File Cell Template -->
<ng-template #fileTemplate>
  <ng-container
    *ngIf="!(item|dinoListCellIsDeletedFile);
    then validFileTemplate; else deletedFileTemplate"
  />
</ng-template>

<!-- Valid Image Cell template -->
<ng-template #validImageTemplate>
  <mat-icon (click)="previewMethod ? previewMethod($event, item) : null" class="dino-file-cell-icon"
    >photo_camera</mat-icon
  ></ng-template
>

<!-- Valid File Cell template -->
<ng-template #validFileTemplate>
  <ng-container *ngIf="(item|dinoListCellGetFile) as fileItem">
    <ng-container *ngIf="item|dinoListCellGetFileIcon as fileIcon">
      <ng-container *ngIf="fileItem | dinoFileView as fileView">

        <!-- DOWNLOAD / URL -->
        <a *ngIf="!fileView.isImage && fileView.href" [href]="fileView.href"
          [attr.target]="fileView.targetBlank ? '_blank' : null" [attr.download]="fileView.download ? '' : null">

          <mat-icon class="dino-file-cell-icon">
            {{ fileIcon }}
          </mat-icon>
        </a>

        <!-- IMAGE -->
        <mat-icon *ngIf="fileView.isImage" (click)="previewMethod?.($event, item)" class="dino-file-cell-icon">
          {{ fileIcon }}
        </mat-icon>

        <!-- FALLBACK -->
        <ng-container *ngIf="!fileView.isImage && !fileView.href">
          {{ item }}
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<!-- Deleted file Cell template -->
<ng-template #deletedFileTemplate></ng-template>

<!-- Boolean Cell template -->
<ng-template #booleanCellTemplate>
  <div (click)="$event.stopPropagation()">
    <mat-slide-toggle
      [checked]="item === true"
      (change)="toggleBoolean($event)"
      aria-label="Edit boolean field"
    ></mat-slide-toggle>
  </div>
</ng-template>

<!-- Standard Cell template -->
<ng-template #standardCellTemplate>
  <ng-container *ngIf="isUrl(item); then urlTemplate; else standardTextCellTemplate"></ng-container>
</ng-template>

<!-- Link Cell temlate -->
<ng-template #urlTemplate
  ><a class="dino-link-cell" [matTooltip]="item" [href]="item" target="_blank">Link</a></ng-template
>

<!-- Standard Text Cell template -->
<ng-template #standardTextCellTemplate>
  <ng-container
    *ngIf="isSingleWordLongString(item, 25) || isLongString(item, 90);then longStandardCellTemplate;  else regularStandardCellTemplate"
    ><div class="dino-text-cell-long" [matTooltip]="item">{{item}}</div></ng-container
  >
</ng-template>

<!-- Long Standard Text Cell template -->
<ng-template #longStandardCellTemplate
  ><div class="dino-text-cell-long" [matTooltip]="item">{{item}}</div></ng-template
>

<!-- Regular Standard Text Cell template -->
<ng-template #regularStandardCellTemplate>{{item}}</ng-template>
