<div class="dino-list-toolbar">
  <ng-content select="[breadcrumbs]"></ng-content>
  <ng-container *ngIf="dataSource">
    <div class="dino-list-count">
      <mat-icon color="primary">numbers</mat-icon>
      <span>{{'Items found'|transloco}}: </span>
      <ng-container *ngIf="(dataSource.dataResultsCount|async) !== null; else loadingCountTemplate"
        ><span><b>{{dataSource.dataResultsCount|async}}</b></span></ng-container
      >
      <ng-template #loadingCountTemplate
        ><mat-icon class="dino-loading-count-icon">data_usage</mat-icon></ng-template
      >
    </div>
    <mat-paginator
      #pag
      [length]="dataSource.dataResultsCount|async"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </ng-container>
</div>
<ng-content select="[filters]"></ng-content>
<ng-container *ngIf="expandable && displayExpandAllBtn">
  <button
    mat-icon-button
    color="primary"
    aria-label="Fold or unfold all rows button"
    (click)="expandAllRows.next(!expandAllRows.getValue())"
    class="dino-expand-all-button"
  >
    <mat-icon>{{(expandAllRows|async) ? 'unfold_less' : 'unfold_more' }}</mat-icon>
  </button>
</ng-container>

<ng-template #tableTemplate let-ctx="ctx">
  <mat-table [dataSource]="ctx.dataSource" class="dino-main-table" matSort multiTemplateDataRows>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" sticky>
      <ng-container>
        <mat-header-cell *matHeaderCellDef>
          <ng-container *ngIf="bulkActions">
            <mat-checkbox
              class="dino-row-actions"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
            <button
              class="dino-bulk-delete-button"
              (click)="actionOnItems(selection.selected, {actionType: 'delete', matIcon: 'delete', askConfirm: true}, ctx.isDetails)"
              [disabled]="selection.selected.length <= 0"
              [attr.aria-label]="'Delete all items'|transloco"
            >
              <mat-icon aria-hidden="false" [attr.aria-label]="'delete icon'|transloco"
                >delete</mat-icon
              >
            </button>
          </ng-container>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            *ngIf="bulkActions"
            class="dino-row-actions"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
    </ng-container>

    <!-- Row Item Columns -->
    <ng-container
      *ngFor="let header of ctx.headers|async;"
      [matColumnDef]="header.column.toString()"
    >
      <ng-container *ngIf="header.sortable; else notSortable">
        <mat-header-cell *matHeaderCellDef [mat-sort-header]="header.column">
          <ng-container
            *ngTemplateOutlet="cellTemplatesMap[header.label] ?
        cellTemplatesMap[header.label] : defaultHeaderCellTemplate;
        context: {$implicit: header.label|transloco}"
          >
          </ng-container>
        </mat-header-cell>
      </ng-container>

      <ng-template #notSortable>
        <mat-header-cell *matHeaderCellDef>
          <ng-container
            *ngTemplateOutlet="cellTemplatesMap[header.label] ?
        cellTemplatesMap[header.label] : defaultHeaderCellTemplate;"
          >
          </ng-container>
        </mat-header-cell>
      </ng-template>

      <ng-template #defaultHeaderCellTemplate>
        {{ header.label|transloco }}
        <mat-icon class="dino-header-icon" *ngIf="header.icon && (breakpointObserver.large|async)"
          >{{header.icon}}</mat-icon
        ></ng-template
      >

      <mat-cell *matCellDef="let element;">
        <ng-container
          *ngTemplateOutlet="header.populateWith ?
          externalRefCellTemplate : (header.repeatingSlideColumn ? repeatingCellTemplate : defaultCellTemplate) ;"
        >
        </ng-container>
        <ng-template #externalRefCellTemplate>
          <ng-container *ngIf="(element[getRef(header)])|async as elemRef">
            <span [ngStyle]="{'color': getPopulatedRef( elemRef, 'color') ?? 'inherit'}"
              >{{ getPopulatedRef( elemRef, header.populateWith) }}</span
            >
          </ng-container>
          <mat-icon
            class="dino-edit-status-icon"
            *ngIf="header.isEditable && header.isEditable(element) && header.editMethod && ctx.showStatusEdit|async"
            mat-list-icon
            (click)="$event.stopPropagation();header.editMethod(element);"
            >create
          </mat-icon>
          <mat-progress-bar
            *ngIf="header.column === 'form_status_ref_id' && element.form_status_ref_id !== null && showStatusProgressBar"
            class="dino-status-bar"
            mode="determinate"
            [value]="getStatusProgress(element.form_status)|async"
          ></mat-progress-bar>
        </ng-template>
        <ng-template #repeatingCellTemplate>
          <mat-tab-group #tabGroup [attr.tabgroupid]="header.repeatingSlideName + '_' + element.id">
            <mat-tab
              *ngFor="let item of getRepeatingSlideCellContent(element.data, header, dataSource?.choices); let idx = index;"
            >
              <ng-container *ngIf="breakpointObserver.small|async; else large_template">
                {{item}}
                <div>
                  <mat-icon
                    *ngIf="idx > 0"
                    class="dino-repeating-slide-icon"
                    (click)="moveRepeatingSlideTab(tabGroup, idx-1); $event.stopPropagation();"
                    >navigate_before</mat-icon
                  >
                  <mat-icon
                    *ngIf="idx + 1 < getRepeatingSlideTabCount(tabGroup)"
                    class="dino-repeating-slide-icon"
                    (click)="moveRepeatingSlideTab(tabGroup, idx+1); $event.stopPropagation();"
                    >navigate_next</mat-icon
                  >
                </div>
              </ng-container>
              <ng-template #large_template>
                <mat-icon
                  *ngIf="idx > 0"
                  class="dino-repeating-slide-icon"
                  (click)="moveRepeatingSlideTab(tabGroup, idx-1); $event.stopPropagation();"
                  >navigate_before</mat-icon
                >
                {{item}}
                <mat-icon
                  *ngIf="idx + 1 < getRepeatingSlideTabCount(tabGroup)"
                  class="dino-repeating-slide-icon"
                  (click)="moveRepeatingSlideTab(tabGroup, idx+1); $event.stopPropagation();"
                  >navigate_next</mat-icon
                ></ng-template
              >
            </mat-tab>
          </mat-tab-group>
        </ng-template>
        <ng-template #defaultCellTemplate
          ><mat-icon *ngIf="header.column === 'text' && element.icon !== null"
            >{{element.icon}}</mat-icon
          >
          <mat-icon *ngIf="header.column === 'text' && element.redirect_url!== null">link</mat-icon
          >{{ element|dinoListCellValue:header:dataSource?.choices }}</ng-template
        >
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" class="right" stickyEnd>
      <mat-header-cell *matHeaderCellDef class="dino-row-actions">
        <mat-icon
          *ngIf="ctx.showColumnsSelector !== false"
          mat-list-icon
          aria-label="delete icon"
          class="dino-columns-sel-btn"
          color="primary"
          #columns_btn
          (click)="openColumnsSelectorDialog()"
          aria-label="Select the displayed columns"
        >
          view_week
        </mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="dino-row-actions">
        <ng-container *ngFor="let action of ctx.listRowActions|async">
          <ng-container
            *ngIf="!((row.data === null && row.data?.data === null) && (action.actionType === 'edit' || action.actionType === 'view'))"
          >
            <mat-icon
              mat-list-icon
              (click)="$event.stopPropagation(); actionOnItems(row, action, ctx.isDetails);"
              >{{action.matIcon}}
            </mat-icon>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell
        *matCellDef="let row;"
        [attr.colspan]="ctx.displayedColumns.value.length"
        [@detailExpand]="isRowExpanded(row)"
        class="dino-expanded-cell"
      >
        <div
          *ngIf="((breakpointObserver.small|async) || (breakpointObserver.medium|async)) && isRowExpanded(row)"
          class="dino-expanded-row-actions"
        >
          <div class="dino-row-action-box" *ngFor="let action of ctx.listRowActions|async">
            <mat-icon
              mat-list-icon
              (click)="$event.stopPropagation(); actionOnItems(row, action, ctx.isDetails);"
              >{{action.matIcon}}
            </mat-icon>
          </div>
        </div>

        <div class="dino-inner-table-container" *ngIf="isRowExpanded(row) && !ctx.isDetails">
          <ng-container *ngIf="expandedRowsData[row.id]?.data?.length">
            <mat-form-field
              class="dino-details-search"
              floatLabel="always"
              (click)="$event.stopPropagation()"
            >
              <input
                matInput
                (keyup)="detailsKeywordsFilter($event, expandedRowsData[row.id])"
                [placeholder]="'search by keyword'"
              />
              <mat-icon color="primary" matSuffix>search</mat-icon>
            </mat-form-field>
            <ng-container
              *ngTemplateOutlet="tableTemplate; context: {ctx: {
                            showCheckBox: detailsListContext?.showCheckBox,
                            showPaginator: detailsListContext?.showPaginator,
                            showColumnsSelector: detailsListContext?.showColumnsSelector,
                            dataSource: expandedRowsData[row.id],
                            headers: detailsListContext?.headers,
                            displayedColumns: detailsListContext?.displayedColumns,
                            listRowActions: detailsListContext?.listRowActions,
                            isDetails: true
                        }}"
            >
            </ng-container>
          </ng-container>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="(ctx.displayedColumns|async)"></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: (ctx.displayedColumns|async);"
      [class.dino-highlighted-row]="selection.isSelected(row)"
      [class.dino-expanded-row]="isRowExpanded(row)"
      [class.dino-details-row]="ctx.isDetails"
      (click)="rowToggle(row)"
      (mouseenter)="onRowMouseEnter($event, row)"
      (mouseleave)="onRowMouseLeave($event)"
    >
    </mat-row>

    <ng-container *ngIf="expandable">
      <mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="dino-row-details"
        [class.dino-highlighted-row]="selection.isSelected(row)"
        [class.dino-details-row]="ctx.isDetails"
      >
      </mat-row>
    </ng-container>
  </mat-table>
</ng-template>

<div class="dino-table-container">
  <ng-container *ngTemplateOutlet="tableTemplate; context: {ctx: mainListContext}"></ng-container>
</div>
