dino-list {
  .dino-table-container {
    padding-bottom: 9vh;
    overflow-x: scroll;
  }
  .dino-list-toolbar {
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    .dino-list-count {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      flex: 1 0 auto;
      align-self: center;
      position: relative;
      margin: auto;
      margin-right: 10px;
      color: rgba(var(--palette-foreground-secondary-text), var(--palette-foreground-secondary-text-alpha));
      @media only screen and (min-width: 660px) {
        bottom: 8px;
      }
      .mat-icon {
        opacity: 30%;
        &.dino-loading-count-icon {
          -webkit-animation: spinClockWise 1s ease-in-out infinite;
          -moz-animation: spinClockWise 1s ease-in-out infinite;
          animation: spinClockWise 1s ease-in-out infinite;
        }
      }
    }
  }

  .mat-mdc-table__wrapper .mat-table {
    min-width: auto !important;
    width: auto !important;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-mdc-table {
    background: transparent !important;
    width: auto !important;
    overflow: auto;

    .mat-mdc-row.dino-highlighted-row {
      .mat-mdc-cell:not(.dino-expanded-cell) {
        background-color: rgb(var(--palette-accent-300));
      }
    }

    .dino-inner-table-container .mat-mdc-row.dino-details-row.dino-highlighted-row {
      background-color: rgb(var(--palette-accent-200));
    }

    .dino-inner-table-container .mat-mdc-row.dino-details-row:not(.dino-highlighted-row) {
      background-color: rgb(var(--palette-warn-100));
    }

    .mat-icon {
      color: rgb(var(--palette-accent-700));
      &:hover {
        background: rgb(var(--palette-accent-100));
        color: rgb(var(--palette-accent-700));
      }
    }
  }

  .mat-mdc-table thead,
  .mat-table tbody,
  .mat-table tfoot {
    background: inherit;
  }

  mat-row,
  mat-footer-row,
  [mat-row],
  [mat-footer-row] {
    background: rgb(var(--palette-background-card));
  }

  .mat-mdc-cell:first-of-type,
  .mat-mdc-footer-cell:first-of-type {
    border-left: 3px solid rgb(var(--palette-accent-700));
  }

  .mat-mdc-header-cell:first-of-type {
    border-left: 3px solid transparent;
  }

  .mat-mdc-row {
    min-height: 70px;
    display: inline-flex;
    min-width: 100%;
    transition: box-shadow ease-in-out 0.25s;
    -webkit-transition: box-shadow ease-in-out 0.25s;
    .mat-mdc-cell {
      border-bottom-style: none;
    }
  }

  .mat-mdc-header-row {
    .mat-mdc-header-cell {
      border-bottom-style: none;
      .mat-icon {
        border-radius: 100%;
        padding: 5px;
      }
      .dino-bulk-delete-button {
        position: relative;
        right: 10px;
      }
    }
    .dino-header-row-actions {
      display: none;
    }
  }

  .mat-column-select {
    flex: 0 0 2% !important;
    min-width: 104px;
  }
  .mat-mdc-form-field.dino-details-search {
    margin-top: 25px !important;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    flex: 1 0;
    position: relative;
  }

  mat-header-cell,
  mat-footer-cell,
  mat-cell:not(.mat-column-actions):not(.mat-column-select):not(.dino-expanded-cell) {
    min-width: 15vw;
    @media only screen and (max-width: 992px) {
      min-width: 30vw;
      max-width: 30vw;
    }
  }

  mat-cell:last-of-type.mat-column-actions {
    background: transparent;
    padding-right: 10px;
    position: absolute !important;
    .mat-icon {
      border-radius: 100%;
      padding: 5px;
      margin: 5px;
    }
  }

  mat-header-cell:last-of-type.mat-column-actions {
    background-color: transparent;
  }

  mat-cell:last-of-type.mat-column-actions,
  .dino-edit-status-icon {
    visibility: hidden;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }

  .mat-mdc-cell.dino-expanded-cell {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column wrap;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-mdc-row:not(.dino-row-details):hover,
  .mat-row:not(.dino-row-details).dino-hover {
    .mat-column-actions,
    .dino-edit-status-icon {
      @media only screen and (min-width: 768px) {
        visibility: visible;
      }
      .mat-icon {
        cursor: pointer;
      }
    }
    &.dino-expanded-row {
      box-shadow: none;
    }
  }

  .dino-bulk-delete-button {
    background-color: transparent;
    border: none;
    outline: none;
    &:disabled {
      .mat-icon {
        opacity: 0.2;
      }
    }
  }

  .dino-status-bar {
    position: absolute;
    bottom: 5px;
    max-width: 75%;
    flex: 1 0 auto;
    min-height: 10px;
    border-radius: 3px;
    transition: all ease-in-out 0.5;
    -webkit-transition: all ease-in-out 0.5s;
  }

  .mat-mdc-row.dino-row-details {
    min-height: 0px;
    position: sticky;
    left: 0;
    background-color: transparent !important;
    margin-bottom: 8px;
  }

  .dino-expanded-row-actions {
    z-index: 10;
  }

  div.dino-inner-table-container {
    width: 100%;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    .mat-mdc-table {
      background: transparent !important;
    }
  }

  .dino-columns-sel-btn {
    position: absolute;
    left: 0px;
    cursor: pointer;
    bottom: 18px;
    box-shadow: none;
    max-width: 20px;
    max-height: 20px;
    .mat-icon {
      margin: auto;
      margin-top: 2px;
      color: rgb(var(--palette-primary-500));
      padding: 0px !important;
      font-size: 16px;
    }
  }
  .dino-columns-sel-btn,
  .dino-header-icon {
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }
  .dino-header-icon:hover,
  .dino-repeating-slide-icon:hover {
    background: transparent !important;
    opacity: 1;
  }

  .mat-mdc-tab-header {
    display: none;
  }

  .mat-mdc-tab-group {
    flex: 1 0 auto;
  }
  .mat-mdc-tab-body {
    background-color: inherit;
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-tab-body-content {
      align-items: center !important;
    }
  }

  .mat-mdc-paginator {
    background: transparent !important;
    flex: 1 1 auto;
    .mat-mdc-paginator-container {
      padding: 0px;
      flex: 1 0 auto;
      position: relative;
      bottom: 10px;
    }

    .mat-mdc-icon-button {
      background: transparent;
    }
    @media only screen and (max-width: 786px) {
      .mat-mdc-paginator-page-size {
        margin-right: auto;
      }
      .mat-mdc-paginator-page-size-label {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .dino-expanded-row-actions {
      display: none;
    }
    .mat-mdc-icon-button.dino-expand-all-button {
      margin-left: 17px;
    }
    .dino-row-actions {
      right: 5px !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .mat-column-select {
      min-width: 5px;
    }
    .dino-row-actions {
      visibility: hidden;
      .dino-columns-sel-btn {
        visibility: visible;
      }
    }
    .dino-expanded-row-actions {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .dino-row-action-box {
        flex: 1 1 auto;
        text-align: center;
      }
    }
    .dino-select-item-checkbox {
      display: none;
    }
  }

  @-moz-keyframes spinClockWise {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinClockWise {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spinClockWise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.mat-mdc-select-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0px 0px !important;
}

.isDarkTheme .dino-list-toolbar .dino-list-count {
  color: rgba(
    var(--palette-foreground-secondary-text-dark),
    var(--palette-foreground-secondary-text-dark-alpha)
  ) !important;
}

.isLightTheme .mat-mdc-header-cell:first-of-type,
.isLightTheme .mat-mdc-cell:first-of-type {
  background-color: rgb(var(--palette-background-background));
}
.isDarkTheme .mat-mdc-header-cell:first-of-type,
.isDarkTheme .mat-mdc-cell:first-of-type {
  background-color: rgb(var(--palette-background-background-dark));
}
.isDarkTheme .dino-hover .mat-mdc-cell {
  background-color: rgb(var(--palette-background-card-dark));
}
.isLightTheme .dino-hover .mat-mdc-cell {
  background-color: rgb(var(--palette-accent-50));
}
