@use 'angular-material-css-vars' as mat-css-vars;

dino-list {
  .dino-table-container {
    padding-bottom: 9vh;
    overflow-x: scroll;
    &.dino-table-container-touch {
      .mat-mdc-table {
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  .dino-list-toolbar {
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    .dino-list-count {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      flex: 1 0 auto;
      align-self: center;
      position: relative;
      margin: auto;
      margin-right: 10px;
      color: rgba(var(--mat-sidenav-content-text-color));
      @media only screen and (min-width: 660px) {
        bottom: 8px;
      }
      .mat-icon {
        opacity: 30%;
        &.dino-loading-count-icon {
          -webkit-animation: spinClockWise 1s ease-in-out infinite;
          -moz-animation: spinClockWise 1s ease-in-out infinite;
          animation: spinClockWise 1s ease-in-out infinite;
        }
      }
    }
  }

  .mat-mdc-table__wrapper .mat-mdc-table {
    min-width: auto !important;
    width: auto !important;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  .mat-mdc-table {
    background: transparent !important;
    width: auto !important;
    overflow: auto;
    max-height: 74vh;
    @media only screen and (max-width: 768px) {
      max-height: 70vh;
    }
    .mat-mdc-row.dino-highlighted-row {
      background-color: mat-css-vars.mat-css-color-accent(300) !important;
      .mat-mdc-cell:not(.dino-expanded-cell) {
        background-color: mat-css-vars.mat-css-color-accent(300);
      }
    }

    .mat-mdc-row.dino-highlighted-light {
      background-color: mat-css-vars.mat-css-color-primary(500, 0.3);
    }

    .dino-inner-table-container .mat-mdc-row.dino-details-row.dino-highlighted-row {
      background-color: mat-css-vars.mat-css-color-accent(200);
    }

    .dino-inner-table-container .mat-mdc-row.dino-details-row:not(.dino-highlighted-row) {
      background-color: mat-css-vars.mat-css-color-warn(100);
    }

    .mat-icon {
      color: mat-css-vars.mat-css-color-accent(700);
      &:hover {
        background: mat-css-vars.mat-css-color-accent(100);
        color: mat-css-vars.mat-css-color-accent(700);
      }
    }
  }

  .mat-mdc-table thead,
  .mat-mdc-table tbody,
  .mat-table tfoot {
    background: inherit;
  }

  mat-row,
  mat-footer-row,
  [mat-row],
  [mat-footer-row] {
    background: rgb(var(--palette-background-card));
  }

  .dino-secondary-row-action-icon-hidden {
    display: none;
  }

  .mat-mdc-cell:first-of-type,
  .mat-mdc-footer-cell:first-of-type {
    border-left: 3px solid mat-css-vars.mat-css-color-accent(700);
    @media only screen and (max-width: 768px) {
      display: contents;
      .mat-mdc-checkbox.dino-row-actions {
        display: none;
      }
    }
  }

  .mat-mdc-cell:first-of-type.dino-aggregation,
  .mat-mdc-header-cell:first-of-type.dino-aggregation {
    display: none;
  }

  .mat-mdc-header-cell:first-of-type {
    border-left: 3px solid transparent;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .mat-mdc-row {
    min-height: 70px;
    height: 100%;
    display: inline-flex;
    min-width: 100%;
    transition: box-shadow ease-in-out 0.25s;
    -webkit-transition: box-shadow ease-in-out 0.25s;
    .mat-mdc-cell {
      border-bottom-style: none;
      .mat-mdc-tab-body-content {
        display: flex;
        align-items: center;
      }
      dino-list-cell {
        .dino-text-cell-long {
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          // Wider truncation width on non-mobile viewports.
          @media only screen and (min-width: 769px) {
            max-width: 200px;
          }
        }
        .dino-link-cell {
          color: mat-css-vars.mat-css-color-accent(700);
        }
      }
    }
    @media only screen and (max-width: 768px) {
      position: relative;
    }
  }
  .mat-mdc-row:not(.dino-hover),
  .mat-mdc-header-row:not(.dino-hover) {
    .mat-mdc-cell {
      &:nth-child(even) {
        background-color: mat-css-vars.mat-css-color-accent(300, 0.1);
      }
      &:nth-child(odd):not(:first-of-type) {
        background-color: mat-css-vars.mat-css-color-accent(100, 0.1);
      }
    }
  }

  .mat-mdc-header-row {
    position: sticky;
    top: 0px;
    z-index: 2;
    .mat-mdc-header-cell {
      .mat-icon {
        border-radius: 100%;
        padding: 5px;
      }
      .dino-bulk-delete-button,
      .dino-bulk-edit-button {
        position: relative;
        right: 10px;
      }
    }
    .dino-header-row-actions {
      max-width: 0px;
      min-width: unset;
      border-bottom-style: none;
    }
  }

  .mat-column-select {
    flex: 0 0 2% !important;
    min-width: 143px;
  }
  .mat-mdc-form-field.dino-details-search {
    margin-top: 25px !important;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  mat-cell,
  mat-header-cell:not(:last-of-type),
  mat-footer-cell {
    flex: 1 0;
    position: relative;
    cursor: pointer;
  }

  .mat-mdc-header-cell:not(:first-of-type):not(:last-of-type),
  mat-footer-cell,
  mat-cell:not(.mat-column-actions):not(.mat-column-select):not(.dino-expanded-cell) {
    min-width: 15vw;
    @media only screen and (max-width: 992px) {
      min-width: 33vw;
    }
  }

  mat-cell:last-of-type.mat-column-actions {
    overflow: visible;
    max-width: 0px;
    background-color: transparent !important;
    right: 25px !important;
    .dino-row-actions-container {
      display: flex;
      justify-content: flex-end;
      min-width: auto;
      .mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
        background-color: mat-css-vars.mat-css-color-accent(100);
        border-radius: 100%;
        padding: 5px;
        margin: 1px;
      }
    }
  }

  .mat-icon.dino-file-cell-icon {
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
  }

  .dino-file-cell-audio {
    height: 32px;
    max-width: 100%;
  }

  mat-header-cell:last-of-type.mat-column-actions {
    background-color: transparent;
    overflow: visible;
    display: contents;
  }

  mat-cell:last-of-type.mat-column-actions {
    .dino-action-icon {
      visibility: hidden;
      position: absolute;
      right: calc((4 + (var(--position) * 28)) * 1px);
    }
    padding: 5px;
    cursor: pointer;
  }
  .dino-edit-status-icon {
    visibility: hidden;
    padding: 5px;
    cursor: pointer;
    &.dino-edit-status-icon-touch,
    &.touranchor--is-active {
      visibility: visible;
    }
  }
  .dino-edit-status-icon {
    border-radius: 50%;
  }

  .mat-mdc-cell.dino-expanded-cell {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column wrap;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }

  // .mat-mdc-row:not(.dino-row-details):hover,
  .mat-mdc-row:not(.dino-row-details).dino-hover {
    cursor: pointer;
    .mat-column-actions .dino-action-icon,
    .dino-edit-status-icon {
      @media only screen and (min-width: 768px) {
        visibility: visible;
      }
      .mat-icon {
        cursor: pointer;
      }
    }
    &.dino-expanded-row {
      box-shadow: none;
      .dino-edit-status-icon {
        @media only screen and (max-width: 767px) {
          visibility: visible;
        }
        .mat-icon {
          cursor: pointer;
        }
      }
    }
  }

  .dino-bulk-delete-button,
  .dino-bulk-edit-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    &:disabled {
      .mat-icon {
        opacity: 0.2;
      }
    }
  }

  .dino-status-bar {
    position: absolute;
    bottom: 5px;
    max-width: 75%;
    flex: 1 0 auto;
    min-height: 10px;
    border-radius: 3px;
    transition: all ease-in-out 0.5;
    -webkit-transition: all ease-in-out 0.5s;
  }

  .mat-mdc-row.dino-row-details {
    min-height: 0px;
    position: sticky;
    left: 0;
    background-color: transparent !important;
    margin-bottom: 8px;
  }

  .dino-expanded-row-actions {
    z-index: 10;
  }

  div.dino-inner-table-container {
    width: 100%;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    .mat-mdc-table {
      background: transparent !important;
    }
  }
  .dino-columns-sel-btn-container {
    position: sticky;
    right: 0px;
    max-width: 0px;
    overflow: visible;
    margin-bottom: 35px;
  }
  .dino-columns-sel-btn {
    position: absolute;
    right: 1.4vw;
    z-index: 10;
    cursor: pointer;
    box-shadow: none;
    opacity: 0.8;
    width: 36px;
    height: 36px;
    &:hover,
    &:focus {
      opacity: 1;
    }
    .mat-icon {
      height: unset;
      width: unset;
      font-size: 16px;
      color: unset;
    }
  }
  .dino-columns-sel-btn,
  .dino-header-icon {
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
  }
  .dino-header-icon:hover,
  .dino-repeating-slide-icon:hover {
    background: transparent !important;
    opacity: 1;
  }
  .dino-invalid-form-icon,
  .dino-upload-files-icon {
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    font-size: 22px;
    position: relative;
    top: 2px;
    &:hover {
      background: transparent !important;
      opacity: 1;
    }
    @media only screen and (max-width: 768px) {
      position: absolute;
      z-index: 1;
      font-size: 18px;
      left: 4px;
      top: 2px;
    }
  }

  .dino-invalid-form-icon ~ .dino-upload-files-icon,
  .dino-invalid-form-icon ~ .dino-upload-files-spinner {
    @media only screen and (max-width: 768px) {
      left: 26px;
    }
  }

  .dino-invalid-form-icon {
    cursor: default;
  }

  .dino-upload-files-icon {
    cursor: pointer;
    &.dino-upload-files-icon--offline {
      cursor: default;
      opacity: 0.4;
      &:hover {
        opacity: 0.4;
      }
    }
  }

  .mat-mdc-tab-header {
    display: none;
  }

  .mat-mdc-tab-group {
    flex: 1 0 auto;
  }
  .mat-mdc-tab-body {
    background-color: inherit;
    .mat-mdc-tab-body-content {
      align-items: center !important;
    }
  }

  .mat-mdc-paginator {
    background: transparent !important;
    flex: 1 1 auto;
    .mat-mdc-paginator-container {
      padding: 0px;
      flex: 1 0 auto;
      position: relative;
      bottom: 10px;
    }
    .mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
      margin: 0 8px 0 6px;
    }

    .mat-mdc-icon-button {
      background: transparent;
    }
    @media only screen and (max-width: 786px) {
      .mat-mdc-paginator-page-size {
        margin-right: auto;
      }
      .mat-mdc-paginator-page-size-label {
        display: none;
      }
      .mat-mdc-paginator-page-size-select {
        max-width: 65px;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .dino-expanded-row-actions {
      display: none;
    }
    .mat-mdc-icon-button.dino-expand-all-button {
      margin-left: 17px;
    }
  }

  @media only screen and (max-width: 768px) {
    .mat-column-select {
      min-width: 5px;
    }
    .dino-row-actions {
      .dino-columns-sel-btn {
        visibility: visible;
      }
    }
    .dino-expanded-row-actions {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .dino-row-action-box {
        flex: 1 1 auto;
        text-align: center;
      }
    }
    .dino-select-item-checkbox {
      display: none;
    }
  }

  @-moz-keyframes spinClockWise {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinClockWise {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spinClockWise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .isLightTheme .mat-mdc-header-cell:first-of-type,
  .isLightTheme .mat-mdc-cell:first-of-type {
    background-color: var(--mat-sidenav-content-background-color);
  }
  .isDarkTheme .mat-mdc-header-cell:first-of-type,
  .isDarkTheme .mat-mdc-cell:first-of-type {
    background-color: var(--mat-sidenav-content-background-color);
  }
}

.mat-mdc-select-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0px 0px !important;
}

.isDarkTheme .dino-list-toolbar .dino-list-count {
  color: rgba(var(--mat-sidenav-content-text-color)) !important;
}

.isDarkTheme .dino-hover .mat-mdc-cell:not(.mat-mdc-cell:last-of-type.mat-column-actions) {
  background-color: mat-css-vars.mat-css-color-primary(300);
  .dino-row-actions-container {
    background-color: mat-css-vars.mat-css-color-primary(300);
  }
}
.isLightTheme .dino-hover .mat-mdc-cell:not(.mat-mdc-cell:last-of-type.mat-column-actions) {
  background-color: mat-css-vars.mat-css-color-primary(300);
  .dino-row-actions-container {
    background-color: mat-css-vars.mat-css-color-primary(300);
  }
}
.isDarkTheme .mat-mdc-header-row {
  background: var(--mat-sidenav-content-background-color) !important;
}
.isLightTheme .mat-mdc-header-row {
  background: var(--mat-sidenav-content-background-color) !important;
}
