dewco-mat-form-field {
    flex: 1 1 auto;
    margin: auto;

    .mat-form-field {
        width: 90%;
    }
    .mat-form-field-ripple {
        background-color: #3b8d61;
    }

    .mat-form-field-underline {
        background-color: #3b8d61 !important;
    }
    .mat-form-field.no-underline .mat-form-field-underline {
        background-color: transparent !important;
        .mat-form-field-ripple {
            background-color: transparent;
        }
    }
}
