dino-export-form {
  mat-spinner {
    display: block !important;
    position: absolute !important;
    top: 45%;
    left: 45%;
    z-index: 2;
  }
  mat-toolbar {
    .mat-form-field {
      min-width: 400px;
    }
    .dino-export-toolbar-spacer {
      flex: 1 1 auto;
    }
    .dino-spacer {
      flex: 1 1 auto;
    }
    dino-export-form-select-all-button {
      width: auto;
    }

    height: auto !important;
    min-height: 64px;
  }
  .dino-checked {
    background-color: red;
  }
  .dino-export-translate-btn {
    max-width: 110px;
    margin: 10px;
  }
  .dino-export-toolbar-count {
    margin-right: 10px;
  }
}
