dino-export-form {
  mat-spinner {
    display: block !important;
    position: absolute !important;
    top: 45%;
    left: 45%;
    z-index: 2;
  }
  mat-toolbar {
    .mat-form-field {
      min-width: 400px;
    }
    .dino-export-toolbar-spacer {
      flex: 1 1 auto;
    }
    .dino-spacer {
      flex: 1 1 auto;
    }
    dino-toggle-button {
      width: auto;
    }

    height: auto !important;
    min-height: 64px;
    button {
      min-height: 50px;
    }
  }
  .dino-checked {
    background-color: red;
  }
  .dino-export-translate-btn {
    max-width: 110px;
    margin: 10px;
  }
  .dino-export-toolbar-count {
    margin-right: 10px;
  }
  mat-selection-list{
    width: 100%;
    overflow-y: scroll;
    max-height: 50vh;
  }

  mat-icon {
    margin-left: 10px;
  }

  .dino-button-focus-action {
    .mat-button-toggle-checked {
      background-color: #7f50b8;
    }
    .mat-flat-button.mat-accent {
      background-color: #7f50b8;
    }
  }
}
