dewco-edit-form-schema {
    > .mat-card:first-child {
        border-left: none;
        margin: 0%;
        padding: 5px;
        background: transparent;
        .mat-card-header {
            display: flex;
            flex-flow: row wrap;
            padding-bottom: 10px;
            align-items: center;
            justify-content: space-between;
            .dewco-form-attributes {
                flex: 1 1 auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .mat-form-field {
                    flex: 1 1 auto;
                    font-size: 125%;
                }
            }
            .dewco-edit-form-schema-actions {
                display: flex;
                justify-self: end;
                justify-content: end;
                .mat-raised-button {
                    margin-left: 20px;
                }
            }
        }
        .mat-card-content {
            padding-bottom: 0%;
            ajf-form-builder {
                min-height: 60vh;
            }
            .mat-drawer-content {
                .ajf-fields-list {
                    background: transparent;
                }
                #slides-list .mat-card-container .mat-card {
                    background: transparent;
                    background-color: transparent;
                }
                .ajf-fields-list .mat-card-container .mat-card {
                    margin-left: 50px;
                }
            }
        }
    }
}

.mat-autocomplete-panel {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .mat-option-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
}
