<mat-card appearance="outlined" class="report-container">
  <ng-content select="[breadcrumbs]"></ng-content>
  <mat-card-header>
    <ng-container *ngIf="formGroup|async as fgroup">
      <form [formGroup]="fgroup" class="dino-report-attributes">
        <mat-form-field>
          <b><input matInput formControlName="label" [placeholder]="'Report Label'" /></b>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" [placeholder]="'Report Name'" />
          <mat-error *ngIf="fgroup.controls['name'].hasError('incorrect')">
            {{ 'This name is already being used.'|transloco}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            #iconSetSelect
            formControlName="icon_set"
            [placeholder]="'Icon Set'|transloco"
          >
            <mat-option [value]="'default'">{{ 'Default' }}</mat-option>
            <mat-option [value]="'humanitarian'">{{ 'Humanitarian' }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="icon"
            [placeholder]="'Icon Identifier'"
            [matAutocomplete]="autoicons"
          />
          <mat-icon matSuffix *ngIf="iconSetSelect.value === 'default'"
            >{{fgroup.get('icon')?.value}}</mat-icon
          >
          <mat-icon
            matSuffix
            *ngIf="iconSetSelect.value !== 'default'"
            [svgIcon]="fgroup.get('icon')?.value"
          ></mat-icon>
          <mat-autocomplete #autoicons="matAutocomplete">
            <mat-option *ngFor="let icon of filteredIcons | async" [value]="icon">
              <span>{{icon.replace('_', ' ').replace('icon-','').replace('-',' ')}}</span>
              <ng-container *ngIf="iconSetSelect.value === 'default'; else svgIcon"
                ><mat-icon>{{icon}}</mat-icon></ng-container
              >
              <ng-template #svgIcon><mat-icon [svgIcon]="icon"></mat-icon></ng-template>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Required Metrics'|transloco}}</mat-label>
          <mat-select [disableRipple]="true" formControlName="required_metrics" multiple>
            <mat-option
              *ngFor="let availableMetric of availableMetrics|async"
              [value]="availableMetric.metricName"
              >{{availableMetric.label|transloco}}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select [placeholder]="'Form Schemas'|transloco">
            <mat-option *ngFor="let formSchema of formSchemas|async"
              >{{formSchema.label}}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </form>

      <div class="dino-edit-report-schema-actions">
        <button mat-raised-button color="accent" translate (click)="openImportDialog()">
          Import <mat-icon>file_upload</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          translate
          (click)="save()"
          [disabled]="!fgroup.valid"
        >
          Save <mat-icon>save</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-card-header>
  <mat-card-content
    ><ng-container *ngIf="reportInstance$|async as reportInstance">
      <ajf-report [instance]="reportInstance"></ajf-report>
    </ng-container>
  </mat-card-content>
</mat-card>
