dino-datachat {
  .dino-datachat-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .dino-apikey-field {
      flex: 1 0 auto;
      min-width: 300px;
      position: relative;
      top: 30vh;
      .dino-apikey-field-fab {
        right: 10px;
        max-width: 32px;
        max-height: 32px;
      }
    }

    .dino-chat-history-container {
      display: flex;
      flex-flow: column;
      flex: 1 0 auto;
      width: 85vw;
      @media only screen and (max-width: 768px) {
        width: 95vw;
      }
      padding: 6px;
      height: 74vh;
      max-height: 74vh;
      overflow-y: auto;
      border-radius: 4px;
      scroll-behavior: smooth;
      background-color: var(--mdc-filled-text-field-container-color);
    }
    .dino-chat-input-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: absolute;
      bottom: 80px;
      width: 86vw;
      @media only screen and (max-width: 768px) {
        width: 100vw;
      }
      .dino-chat-text-input {
        flex: 1 0 85%;
        @media only screen and (max-width: 768px) {
          flex: 1 0 auto;
        }
      }
      .dino-chat-namespace-select {
        flex: 1 0 15%;
      }
    }
    .dino-communicating-spinner {
      position: relative;
      right: 10px;
    }
  }
  .dino-no-items-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 85vh;
    opacity: 0.4;
  }
  .dino-no-tokens-message {
    position: relative;
    top: 30%;
    text-align: center;
    margin: auto;
    opacity: 0.6;
    .dino-no-tokens-message-row {
      display: flex;
      justify-content: center;
      align-items: center;
      .dino-no-tokens-icon {
        margin-left: 10px;
      }
      &.dino-no-tokens-message-row-buy {
        cursor: pointer;
        color: rgb(var(--palette-primary-500));
      }
    }
  }

  .dino-gpt-terms-container {
    max-height: 70vh;
    overflow-y: auto;
  }
  .dino-gpt-accept-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dino-loading {
    position: unset !important;
    width: unset !important;
    left: unset !important;
  }
}
