<ng-container *ngIf="qa">
  <ng-container *ngIf="qa.question && !qa.noPrompt">
    <div class="dino-datachat-entry dino-datachat-entry-question">
      <mat-icon class="dino-datachat-entry-icon" color="accent">face</mat-icon>
      <span>{{qa.question}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.explanation">
    <div class="dino-datachat-entry dino-datachat-entry-response">
      <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
      <span><b *ngIf="!qa.noPrompt">Explanation:</b>{{qa.explanation}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.response">
    <div class="dino-datachat-response-container">
      <div class="dino-datachat-entry dino-datachat-entry-response">
        <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
        <span><b *ngIf="!qa.noPrompt">Answer:</b><span [innerHTML]="getFormattedResponse(qa)"></span></span>
        <div class="dino-datachat-sources-chips" *ngIf="getRelevantVectors(qa).length > 0">
          <span class="dino-datachat-sources-chips-span">{{'Sources'|transloco}}</span>
          <mat-chip color="primary" *ngFor="let vec of getRelevantVectors(qa)" (click)="openParagraphDialog(qa, vec)">
            <span>
              <b>{{vec.metadata.source ?? 'file'}}</b>
              <ng-container *ngIf="vec.metadata.page"> (pag.{{vec.metadata.page}})</ng-container>
            </span>
          </mat-chip>
        </div>
        <div class="dino-datachat-entry-follow-up" *ngIf="qa.followUpQuestions && qa.followUpQuestions.length > 0">
          <div class="dino-datachat-sources-chips">
            <span class="dino-datachat-sources-chips-span">{{'Suggested questions'|transloco}}</span>
            <mat-chip *ngFor="let question of qa.followUpQuestions" (click)="onFollowUpClick(question)">
              {{question}}
            </mat-chip>
          </div>
        </div>
      </div>
      <div class="dino-datachat-feedback" *ngIf="qa.log_id">
        <button mat-icon-button (click)="onFeedbackClick(true)" matTooltip="Good response"
          [disabled]="qa.userIsHappy === true">
          <mat-icon [class.active-feedback]="qa.userIsHappy === true">thumb_up</mat-icon>
        </button>
        <button mat-icon-button (click)="onFeedbackClick(false)" matTooltip="Bad response"
          [disabled]="qa.userIsHappy === false">
          <mat-icon [class.active-feedback]="qa.userIsHappy === false">thumb_down</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.error">
    <div class="dino-datachat-entry dino-datachat-entry-error">
      <mat-icon class="dino-datachat-entry-icon" color="warn">error</mat-icon>
      <span><b *ngIf="!qa.noPrompt">Error:</b><span [innerHTML]="qa.error"></span></span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.imageData">
    <div class="dino-datachat-entry dino-datachat-entry-image-response">
      <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
      <img [src]="qa.imageData" />
    </div>
  </ng-container>
  <ng-container *ngIf="qa.truncated">
    <div class="dino-datachat-entry dino-datachat-entry-preview">
      <mat-icon class="dino-datachat-entry-icon" color="primary">visibility</mat-icon>
      <span class="dino-datachat-entry-preview-text">
        <span *ngIf="hasRowCounts(qa); else noRowCounts"
          [innerText]="'Showing the first {{preview}} of {{total}} rows'|transloco:{preview: qa.previewRows, total: qa.totalRows}"></span>
        <ng-template #noRowCounts><span [innerText]="'Not all rows are shown'|transloco"></span></ng-template>
        <span *ngIf="hasDroppedColumns(qa)"
          [innerText]="'Only {{preview}} of {{total}} columns are shown'|transloco:{preview: qa.previewColumns, total: qa.totalColumns}"></span>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.note">
    <div class="dino-datachat-entry dino-datachat-entry-note">
      <mat-icon class="dino-datachat-entry-icon" color="warn">info</mat-icon>
      <span>{{qa.note}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.componentData">
    <div class="dino-datachat-entry dino-datachat-entry-component-response">
      <ng-container *ngComponentOutlet="qa.componentData.component; inputs: qa.componentData.inputs"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.charts && qa.charts.length">
    <div class="dino-datachat-entry dino-datachat-entry-charts">
      <dino-datachat-chart *ngFor="let chart of qa.charts" [spec]="chart"></dino-datachat-chart>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.downloadUrl">
    <div class="dino-datachat-entry-download">
      <button mat-stroked-button color="primary" (click)="onDownloadClick()">
        <mat-icon>download</mat-icon>
        <span>{{qa.downloadFilename || ('Download'|transloco)}}</span>
      </button>
    </div>
  </ng-container>
</ng-container>
