<ng-container *ngIf="qa">
  <ng-container *ngIf="qa.question">
    <div class="dino-datachat-entry dino-datachat-entry-question">
      <mat-icon class="dino-datachat-entry-icon" color="accent">face</mat-icon>
      <span>{{qa.question}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.explanation">
    <div class="dino-datachat-entry dino-datachat-entry-response">
      <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
      <span><b *ngIf="!qa.noPrompt">Explanation:</b>{{qa.explanation}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.response">
    <div class="dino-datachat-entry dino-datachat-entry-response">
      <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
      <span><b *ngIf="!qa.noPrompt">Answer:</b><span [innerHTML]="qa.response"></span></span>
      <div class="dino-datachat-sources-chips" *ngIf="getRelevantVectors(qa).length > 0">
        <span class="dino-datachat-sources-chips-span">{{'Sources'|transloco}}</span>
        <mat-chip color="primary"
        *ngFor="let vec of getRelevantVectors(qa)" (click)="openParagraphDialog(qa, vec)">
          <span><b>{{vec.metadata.source}}</b> (pag.{{vec.metadata.page}})</span>
        </mat-chip>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.error">
    <div class="dino-datachat-entry dino-datachat-entry-error">
      <mat-icon class="dino-datachat-entry-icon" color="warn">error</mat-icon>
      <span><b *ngIf="!qa.noPrompt">Error:</b><span [innerHTML]="qa.error"></span></span>
    </div>
  </ng-container>
  <ng-container *ngIf="qa.imageData">
    <div class="dino-datachat-entry dino-datachat-entry-image-response">
      <mat-icon class="dino-datachat-entry-icon" color="primary">smart_toy</mat-icon>
      <img [src]="qa.imageData" />
    </div>
  </ng-container>
  <ng-container *ngIf="qa.componentData">
    <div class="dino-datachat-entry dino-datachat-entry-component-response">
      <ng-container
        *ngComponentOutlet="qa.componentData.component; inputs: qa.componentData.inputs"
      ></ng-container>
    </div>
  </ng-container>
</ng-container>
