@use 'angular-material-css-vars' as mat-css-vars;

dino-datachat-entry {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 95%;
  width: 95%;
  .dino-datachat-entry {
    border-radius: 5px;
    padding: 10px;

    &:not(.dino-datachat-entry.dino-datachat-entry-component-response) {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
    }

    &.dino-datachat-entry-question {
      background-color: mat-css-vars.mat-css-color-accent(100, 0.2);
    }
    &.dino-datachat-entry-error {
      background-color: mat-css-vars.mat-css-color-warn(100, 0.2);
    }
    &.dino-datachat-entry-response,
    &.dino-datachat-entry-component-response,
    &.dino-datachat-entry-image-response,
    &.dino-datachat-entry-image-error {
      background-color: mat-css-vars.mat-css-color-primary(100, 0.2);
    }
    &.dino-datachat-entry-question,
    &.dino-datachat-entry-response,
    &.dino-datachat-entry-image-response,
    &.dino-datachat-entry-image-error {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      span,
      img {
        flex: 1 0 90%;
      }
    }
    &.dino-datachat-entry-image-response img {
      max-width: 700px;
      @media only screen and (max-width: 768px) {
        max-width: 90%;
      }
    }
    .dino-datachat-sources-chips {
      margin-top: 10px;
      .dino-datachat-sources-chips-span {
        margin-right: 10px;
      }
      .mat-mdc-chip {
        background-color: mat-css-vars.mat-css-color-primary(100, 0.4);
        margin-right: 5px;
        cursor: pointer;
        span {
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .dino-datachat-entry-icon {
    margin-right: 10px;
  }
}
