dino-main-nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .dino-toolbar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    &.dino-shadowed {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
      animation-name: shadowed-toolbar;
      animation-duration: 2s;
      animation-direction: alternate-reverse;
      animation-timing-function: ease-in-out;
    }

    .dino-toolbar-logo {
      position: relative;
      max-width: 10vw;
      max-height: 80%;
      margin: auto 10px;
    }

    .dino-toolbar-actions {
      cursor: pointer;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: center;
      .mat-icon {
        flex: 1 0 auto;
      }
      .dino-link-button {
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
      }
      .dino-sync-detector {
        margin-right: 25px;
        transition: all 2s ease-in-out;
        &.dino-sync-active {
          -webkit-animation: spin 2s ease-in-out infinite;
          -moz-animation: spin 2s ease-in-out infinite;
          animation: spin 2s ease-in-out infinite;
        }
      }
      .dino-active-user-icon {
        color: inherit;
        margin-right: 5px;
      }
      .dino-active-user-text {
        margin-right: 20px;
        font-size: 70%;
      }
      .dino-active-user-icon,
      .dino-active-user-text {
        opacity: 0.3;
        @media only screen and (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  .mat-sidenav-container.dino-sidenav-container {
    flex: 1 0 auto;
  }
  
  .mat-sidenav-content.dino-sidenav-content {
    padding: 5px;
    background-color: inherit;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
  }

  .mat-sidenav.dino-large-sidenav {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    animation-name: shadowed-sidenav;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .mat-nav-list {
    width: auto;
    .mat-list-item {
      padding: 5px;
      &:focus,
      &:hover {
        background-color: inherit;
      }
      span {
        padding-left: 20px;
      }
    }
    &.mat-list-base {
      padding-top: 0px;
    }
    .dino-extend-menu-button {
      position: absolute;
      bottom: 50px;
    }
  }
}

@keyframes shadowed-toolbar {
  from {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
  }
  to {
    box-shadow: none;
  }
}

@keyframes shadowed-sidenav {
  from {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: none;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
