<mat-toolbar
  *ngIf="sidenav != null && (showNav|async) !== false"
  class="dewco-toolbar"
  [class.dewco-shadowed]="(!sidenav.opened) || (breakpointObserver.large|async)"
>
  <button
    mat-icon-button
    (click)="menuToggle()"
    aria-label="Toggle menu button"
  >
    <mat-icon
      *ngIf="(breakpointObserver.large|async) ? (extendedSidenav|async) : sidenav.opened;else closed_menu"
      >menu_open</mat-icon
    >
  </button>

  <ng-template #closed_menu><mat-icon>menu</mat-icon></ng-template>

  <img class="dewco-toolbar-logo" [src]="logoImagePath" alt="logo" />

  <div class="dewco-toolbar-actions">
    <dewco-lang-selector></dewco-lang-selector>
    <mat-icon class="dewco-logout-button" (click)="logout()">logout</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container class="dewco-sidenav-container" autosize>
  <mat-sidenav
    *ngIf="(showNav|async) !== false"
    #sidenav
    [mode]="(breakpointObserver.large|async) ? 'side' : 'over'"
    [opened]="breakpointObserver.large|async"
    class="dewco-sidenav"
    [class.dewco-large-sidenav]="breakpointObserver.large|async"
    [class.extended]="extendedSidenav|async"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [disableRipple]="true"
        *ngFor="let section of sections"
        [routerLink]="[section.url]"
        (click)="menuClick()"
      >
        <i class="material-icons material-icons-outlined">{{section.icon}}</i>
        <span *ngIf="extendedSidenav|async">{{section.label|transloco}}</span>
      </a>

      <ng-container *ngIf="adminSections && adminSections.length > 0">
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          [disableRipple]="true"
          *ngFor="let adminSection of adminSections"
          [routerLink]="[adminSection.url]"
          (click)="menuClick()"
        >
          <i class="material-icons material-icons-outlined"
            >{{adminSection.icon}}</i
          >
          <span *ngIf="extendedSidenav|async">{{adminSection.label}}</span>
        </a>
      </ng-container>

      <a
        *ngIf="(breakpointObserver.large|async) === false"
        class="dewco-extend-menu-button"
        mat-list-item
        [disableRipple]="true"
        (click)="extendedSidenav.next(!extendedSidenav.getValue())"
      >
        <mat-icon
          >{{(extendedSidenav|async) ? 'close_fullscreen' : 'open_in_full'
          }}</mat-icon
        >
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="dewco-sidenav-content">
    <ng-container *ngIf="(isLoading|async) === false">
      <router-outlet (activate)="onRouterOutletLoading($event)"></router-outlet>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
