dino-breadcrumbs {
  display: block;

  .dino-breadcrumbs-toolbar {
    background: transparent;
    padding: 0px 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
  }
  .dino-breadcrumbs {
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    font-size: 14px;
    background: transparent !important;
    max-height: 30px;
    padding-left: 0px;
    font-weight: bold;
    span,
    .mat-icon {
      opacity: 30%;
      align-self: center;
      &:not(:first-child) {
        margin-left: 10px;
        @media only screen and (max-width: 1200px) {
          margin-left: 5px;
        }
      }
      &.dino-breadcrumb-history-link {
        cursor: pointer;
        &:hover {
          opacity: 100%;
        }
      }
      transition: all ease-in-out 0.3;
      -webkit-transition: all ease-in-out 0.3s;
    }
    @media only screen and (max-width: 1200px) {
      font-size: 12px;
    }
  }
}
