@use '../all-theme';

// Include non-theme styles for core.
@include dino-mat-core();

// Define a theme.
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-lime, A200, A100, A400);

$theme: mat-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
        ),
    )
);

// Include all theme styles for the components.
@include all-theme.material-theme($theme);
