@use '~@angular/material/core/theming/palette' as mat-palette;
@use '~@angular/material/core/theming/theming' as mat-theming;

@use '../material/core/core';
@use '../material/core/all-core';
@use '../material/core/theming/all-theme';

// Include non-theme styles for core.
@include all-core.mat-core();

// Define an alernative theme.
$primary: mat-theming.define-palette(mat-palette.$brown-palette, 400, 800, 600);
$accent: mat-theming.define-palette(mat-palette.$deep-orange-palette, 100, 900, A700);
$warn: mat-theming.define-palette(mat-palette.$red-palette);

$theme: core.dark-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

// Include all theme styles for the components.
@include all-theme.material-theme($theme);
