@use '~@angular/material/core/theming/palette' as mat-palette;
@use '~@angular/material/core/theming/theming' as mat-theming;

@use '../material/core/core';
@use '../material/core/all-core';
@use '../material/core/theming/all-theme';
@use '../material/core/theming/palette';

// Include non-theme styles for core.
@include all-core.mat-core();

// Define a theme.
$primary: mat-theming.palette(mat-palette.$green);
$accent: mat-theming.palette(mat-palette.$deep-purple, 600, 100, 800);
$warn: mat-theming.palette(mat-palette.$red);
$alt_accent: mat-theming.palette(palette.$blue, 500);

$theme: core.light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
            alt_accent: $alt_accent,
        ),
    )
);

// Include all theme styles for the components.
@include all-theme.material-theme($theme);
