<dino-list
  [title]="'GROUPS'"
  [headers]="headers"
  [dataSource]="dataSource"
  [additionalBasicFilters]="additionalBasicFilters"
  [listRowActions]="listRowActions"
  [onClickRowActions]="onClickRowActions"
>
  <dino-search-filters-bar filters [additionalFilters]="false">
    <button
      toolbarActions
      mat-stroked-button
      color="primary"
      [matTooltip]="'Add New User Permissions Group' | transloco"
      (click)="openDialog(undefined, 'create')"
    >
      <mat-icon>add</mat-icon>
      <span>{{'Add New Group' | transloco}}</span>
    </button>
  </dino-search-filters-bar>
  <dino-breadcrumbs breadcrumbs></dino-breadcrumbs>
</dino-list>
