<div class="dino-metric-editor-container">
  <h1 mat-dialog-title>{{data.metricAction|transloco}} {{metricName|transloco}}</h1>
  <mat-dialog-content>
    <form *ngIf="metricForm" [formGroup]="metricForm" autocomplete="off">
      <ng-container *ngFor="let field of metricFormFields; let idx = index">
        <mat-form-field class="dino-metric-editor-field" appearance="fill">
          <ng-template #autocompleteField>
            <input
              matInput
              [formControlName]="field.fieldName"
              [placeholder]="field.placeholder ?? ''"
              [matAutocomplete]="auto"
              [readonly]="data.metricAction === 'View'"
              value="{{field.value}}"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [autoActiveFirstOption]="true"
              [displayWith]="displayParentName"
            >
              <mat-option *ngFor="let option of parentOptions | async" [value]="option">
                {{option.parent_name}}
              </mat-option>
            </mat-autocomplete>
          </ng-template>
          <ng-template #regularField>
            <input
              matInput
              [formControlName]="field.fieldName"
              [placeholder]="field.placeholder ?? ''"
              [readonly]="data.metricAction === 'View'"
              value="{{field.value}}"
            />
          </ng-template>
          <ng-template #dateField>
            <input
              matInput
              [formControlName]="field.fieldName"
              [placeholder]="field.placeholder ?? ''"
              [readonly]="data.metricAction === 'View'"
              [matDatepicker]="picker"
              value="{{field.value}}"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-template>

          <ng-container
            *ngTemplateOutlet="field.fieldName === 'parent' ? autocompleteField : field.fieldName.includes('date') ? dateField : regularField"
          ></ng-container>
          <mat-error *ngIf="metricForm.controls[field.fieldName].hasError('required')">
            Please enter a {{field.fieldName}}
          </mat-error>

          <mat-error *ngIf="metricForm.controls[field.fieldName].hasError('incorrect')">
            Please select a valid parent
          </mat-error>

          <mat-hint [class.dino-warning]="metricForm.controls[field.fieldName].warning"
            >{{ metricForm.controls[field.fieldName].warning ?
            (metricForm.controls[field.fieldName].warning|transloco) : field.hint}}</mat-hint
          >
        </mat-form-field>
      </ng-container>
    </form>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="closeEditor()">{{'Close'|transloco}}</button>
    <button
      *ngIf="data.metricAction !== 'View'"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="data"
      cdkFocusInitial
      (click)="saveMetric()"
      [disabled]="!isFormValid()"
    >
      {{'Save'|transloco}}
    </button>
  </div>
</div>
