dino-metric-editor {
  .dino-warning {
    font-weight: bold;
  }
  .dino-metric-editor-field {
    padding: 25px;
    @media only screen and (max-width : 992px) {
      padding: 15px;
    }
    font-size: 1.2em;
  }

  .dino-metric-image-field {
    flex: 1 1 100%;
    font-size: 0.7em;
    min-width: 0;
    .dino-metric-image-preview {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      .dino-metric-image-preview-title {
        font-size: 16px;
        text-align: center;
        width: 100%;
      }
      .dino-metric-image {
        flex: 1 0 auto;
        max-height: 80px;
        margin: auto;
        padding: 15px;
      }
    }
    .dino-metric-image-tab-group {
      .mat-mdc-tab-body-content {
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        overflow: auto;
        .dino-metric-image-upload {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          flex-flow: column wrap;
          text-align: center;
        }
      }
    }
  }

  .mat-mdc-form-field {
    position: relative;
    flex: 1 1 auto;
    max-height: 80px;
  }

  .mat-datepicker-toggle,
  .mat-mdc-input-element {
    flex: 1 1 auto;
    width: auto !important;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 0px;
    bottom: 10px;
  }

  overflow: hidden;
  .mat-mdc-dialog-title,
  .mat-mdc-dialog-actions .mat-mdc-raised-button {
    flex: 0.25 0 auto;
    margin: auto;
    text-align: center;
  }
  .mat-mdc-dialog-content {
    max-height: 80vh;
    form {
      position: relative;
      max-height: 90vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .dino-additional-attributes-container {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
      min-height: 100px;
      max-height: 40vh;
      overflow: auto;
      .dino-additional-attribute-entry {
        flex: 1 0 auto;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .dino-additional-attributes-title,
      .dino-metric-editor-title {
        flex: 1 0 auto;
        width: 100%;
        font-size: 16px !important;
      }
      .dino-attribute-button {
        align-self: center;
        margin: auto;
        &.dino-remove-attribute-button {
          margin-right: 20px;
        }
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .mat-divider {
      display: block;
      width: 100%;
    }
  }
}
